  <!-- Heading Row -->
  <div class="row my-4">
    <div class="col-lg-12">
      <h1>Feature Rich</h1>
      <p>List of features is extensive.</p>
    </div>
    <!-- /.col-md-12 -->
  </div>
  <!-- /.row -->


  <!-- Content Row -->
  <div class="row rowpush">
    <div class="col-md-8 mb-8">
      <div class="card h-100">
        <div class="card-footer">
          <h2>LTL/TL/Intermodal</h2>
        </div>
        <div class="card-body">
          <p class="card-text">Fully supports truck loads, less than a truck loads, and intermodal (container ) hauling.</p>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <img class="img-fluid rounded" src="assets/img/intro/containers.jpeg" alt="">
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
  </div>
  <div class="row rowpush">
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <img class="img-fluid rounded" src="assets/img/intro/check.jpeg" alt="">
        </div>
      </div>
    </div>
    <div class="col-md-8 mb-8">
      <div class="card h-100">
        <div class="card-footer">
          <h2 class="card-title">Drivers and Dispatch Payroll</h2>
        </div>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->

  </div>
  <!-- /.row -->
  <!-- Content Row -->
  <div class="row">
    <div class="col-md-8 mb-8">
      <div class="card h-100">
        <div class="card-footer">
          <h2>Drivers App</h2>
        </div>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <img class="img-fluid rounded" src="assets/img/intro/app.jpeg" alt="">
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
  </div>
  <!-- Call to Action Well -->
  <div class="card text-white bg-secondary my-4 text-center">
    <div class="card-body bannerzj1">
      <p class="m-0"><a href="app" class="goldzj1">Register</a> <span class="lightbluezj1"> today to start a free one month trial!</span></p>
    </div>
  </div>
  <div class="row rowpush">
    <div class="col-md-8 mb-8">
      <div class="card h-100">
        <div class="card-footer">
          <h2 class="card-title">Integration with Banks/ELBs</h2>
        </div>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <img class="img-fluid rounded" src="assets/img/intro/edi.jpeg" alt="">
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
  </div>
  <!-- /.row -->
  <div class="row rowpush">
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <img class="img-fluid rounded" src="assets/img/intro/gps.jpeg" alt="">
        </div>
      </div>
    </div>
    <div class="col-md-8 mb-8">
      <div class="card h-100">
        <div class="card-footer">
          <h2 class="card-title">GPS Tracking</h2>
        </div>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->

  </div>
  <!-- /.row -->
  <div class="row rowpush">
    <div class="col-md-8 mb-8">
      <div class="card h-100">
        <div class="card-footer">
          <h2 class="card-title">Extensive Reporting</h2>
        </div>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <img class="img-fluid rounded" src="assets/img/intro/reports.jpeg" alt="">
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
  </div>
  <!-- /.row -->
  <div class="row rowpush">&nbsp;
  </div>
  <!-- /.row -->
