<div class="dp-autocomplete">
  <p-autoComplete delay="500" dropdown="true" (onDropdownClick)="handleDropdown($event)"
                  (onSelect)="selectItem(selectedItem)" [disabled]="disabled"
                  [(ngModel)]="selectedItem" field="DisplayName"
                  [suggestions]="data.Result" (completeMethod)="search($event)"></p-autoComplete>
  <!--<span *ngIf="isLoading" class="fa fa-spinner fa-pulse fa-fw diy-loader"></span>-->
  <span *ngIf="selectedItem != null" class="fa fa-times diy-clear" (click)="clearClick()"></span>
</div>

<p-dialog header="Add broker" [(visible)]="showCreateBrokerDialog">
  <form (ngSubmit)="createBroker()" #createBrokerForm="ngForm" novalidate>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="inputBrokerDisplayName">Display Name</label><span class="required-tip">(required)</span><br />
          <input id="inputBrokerDisplayName" name="inputBrokerDisplayName" class="form-control" type="text" [(ngModel)]="newBroker.DisplayName" required />
        </div>
      </div>
    </div>
    <p-footer>
      <div class="row">
        <div class="col-sm-12">
          <button type="submit" [disabled]="!createBrokerForm.form.valid" class="btn btn-default pull-right dp-margin-left">Create broker</button>
          <button type="button" (click)="showCreateBrokerDialog=false" class="btn btn-default pull-right">Cancel</button>
        </div>
      </div>
    </p-footer>

  </form>
</p-dialog>
