<div *ngIf="loadPoint != null" class="dp-starting-load-point" (click)="editLoadPoint()">
  <div fxLayoutGap="10px" fxLayout="row" style="padding: 10px 5px;" fxLayoutAlign="space-between center">
    <div fxLayout="column">
      <span style="font-size: 14px;"><b>A.</b> {{loadPoint.Location}}</span>
      <span><b>Load #:</b> {{loadPoint.LoadNumber}}</span>
      <span><b>Load Date:</b> <i>{{loadPoint.DateLoad | date:'MM/dd/yyyy HH:mm' }}</i></span>
    </div>
    <button type="button" [disabled]="IsFinished == true" class="ui-button-danger" tooltipPosition="left" (click)="deleteLoadPoint(item)" pButton pTooltip="Delete load point" icon="fa-remove"></button>
  </div>

</div>
