<div class="dp-details">
  <form (ngSubmit)="onSubmit()" #clientForm="ngForm" novalidate>
    <!--<sticky [sticky-zIndex]="500000000" style="width: 100%;">
      <div class="row dp-title">
        <div class="col-sm-6" style="padding:5px 10px;">
          <h1>Partner/Vendor details</h1>
        </div>
        <div class="col-sm-6" style="padding:5px 10px;">
          <button type="submit" [disabled]="!clientForm.form.valid" class="btn btn-default pull-right dp-margin-left">Save Details</button>
          <a class="btn btn-default pull-right" [routerLink]="['/clients']">Cancel</a>
        </div>
      </div>
    </sticky>-->
    <div class="details-header">
      <div class="row dp-title">
        <div class="col-sm-6" style="padding-top:10px; padding-left: 300px">
          <h1>Partner/Vendor details</h1>
        </div>
        <div class="col-sm-6" style="padding-top:10px; padding-right: 50px">
          <button type="submit" [disabled]="!clientForm.form.valid" class="btn btn-default pull-right dp-margin-left">Save Details</button>
          <a class="btn btn-default pull-right" [routerLink]="['/clients']">Cancel</a>
        </div>
      </div>
    </div>
    <div class="dp-content">
      <div class="row">
        <div class="col-sm-4 dp-header">
          <div>
            General information
          </div>
          <div class="hint">
            Please provide basic info about the client
          </div>
        </div>
        <div class="col-sm-8 dp-data">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputType">Type</label><br />
                <dp-client-type id="inputType" name="inputType" [(ngModel)]="clientItem.ClientTypeId" required></dp-client-type>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputAccountNumber">Account Number</label><span class="required-tip">(required)</span>
                <input type="text" class="form-control" id="inputAccountNumber" name="inputAccountNumber" [(ngModel)]="clientItem.AccountNumber" required/>
              </div>
            </div>
            <div class="col-sm-6" style="padding-top:30px;">
              <input type="checkbox" name="chkIsActive" id="chkIsActive" class="css-checkbox" [(ngModel)]="clientItem.IsActive" />
              <label for="chkIsActive" class="css-label">Is Active</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputName">Name</label><span class="required-tip">(required)</span>
                <input type="text" class="form-control" id="inputName" name="inputName" [(ngModel)]="clientItem.Name" required/>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputDisplayName">Display Name</label><span class="required-tip">(required)</span>
                <input type="text" class="form-control" id="inputDisplayName" name="inputDisplayName" [(ngModel)]="clientItem.DisplayName" required/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-4 dp-header">
          <div>
            Address info
          </div>
          <div class="hint">
            Address information
          </div>
        </div>
        <div class="col-sm-8 dp-data">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputAddress1">Address</label>
                <input type="text" class="form-control" id="inputAddress1" name="inputAddress1" [(ngModel)]="clientItem.Address" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputAddress2">Alternate Address</label>
                <input type="text" class="form-control" id="inputAddress2" name="inputAddress2" [(ngModel)]="clientItem.Address2" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity" name="inputCity" [(ngModel)]="clientItem.City" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputState">State</label><br />
                <dp-state id="inputState" name="inputState" [(ngModel)]="clientItem.StateId"></dp-state>
                <!--<input type="text" class="form-control" id="inputState" name="inputState" [(ngModel)]="driverItem.State" />-->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputZipCode">Zip Code</label>
                <input type="text" class="form-control" id="inputZipCode" name="inputZipCode" [(ngModel)]="clientItem.ZipCode" />
              </div>
            </div>
            <div class="col-sm-6">
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-4 dp-header">
          <div>
            Contact information
          </div>
          <div class="hint">
            Contact information
          </div>
        </div>

        <div class="col-sm-8 dp-data">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputPhoneNumber">Phone Number</label>
                <input type="text" class="form-control" id="inputPhoneNumber" name="inputPhoneNumber" [(ngModel)]="clientItem.PhoneNumber" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputAlternatePhoneNumber">Alternate Phone Number</label>
                <input type="text" class="form-control" id="inputAlternatePhoneNumber" name="inputAlternatePhoneNumber" [(ngModel)]="clientItem.AlternatePhoneNumber" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputFax">Fax</label>
                <input type="text" class="form-control" id="inputFax" name="inputFax" [(ngModel)]="clientItem.Fax" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="text" class="form-control" id="inputEmail" name="inputEmail" [(ngModel)]="clientItem.Email" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<dp-loader></dp-loader>
<dp-messages></dp-messages>
