<div class="dp-details">
  <div class="dp-content">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <dp-trip-item #tripDetails (onTripSaved)="onTripSaved($event)" (onTripFinalized)="onTripFinalized()" (onTripReopened)="onTripReopened()" [tripItem]="tripItem"></dp-trip-item>
        <br />
        <div class="dp-data">
          <dp-map (onRouteDrawn)="onRouteDrawn($event)" #map></dp-map>
        </div>
      </div>
      <div class="col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-sm-12">
            <div class="dp-data">
              Stats
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <div class="dp-data" [hidden]="tripItem.Id==0">
              <div fxLayout="row" fxLayoutAlign="space-between center" class="btn-container">
                <h5 fxFlex>Loads</h5>
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
                  <button type="button" [disabled]="tripItem.IsFinished == true" class="dpl-btn" (click)="addLoad()">
                    <i class="fa fa-plus"></i> Create New Load
                  </button>
                  <button type="button" [disabled]="tripItem.IsFinished == true" class="dpl-btn" (click)="assignLoadToTrip()">
                    <i class="fa fa-link"></i> Add Unassigned Load(s)
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <p-dataTable [value]="loads" [responsive]="true" [(selection)]="loadItem"
                               [rows]="10" [paginator]="false" emptyMessage="No load defined">

                    <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>
                    <p-column field="LoadNumber" header="Load Number"></p-column>
                    <p-column [style]="{'width':'76px'}">
                      <ng-template let-load="rowData" pTemplate="body">
                        <button type="button" class="dpl-btn dpl-icon-only" (click)="modifyLoad(load.Id)" pTooltip="Invoice">
                          <span class="fa fa-money"></span>
                        </button>
                        <button type="button" [disabled]="tripItem.IsFinished == true" class="dpl-btn dpl-icon-only" tooltipPosition="left" (click)="deleteLoad(load)" pTooltip="Remove load from trip">
                          <span class="fa fa-remove"></span>
                        </button>
                      </ng-template>
                    </p-column>
                  </p-dataTable>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-12">
                  <h3>Load Details</h3>
                </div>
              </div>
              <dp-load-item #loadDetails [hidden]="loadItem.Id == 0" [loadItem]="loadItem" [IsFinished]="tripItem.IsFinished"></dp-load-item>

            </div>
          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="dp-data" [hidden]="tripItem == null || tripItem.Id==0">
              <dp-load-points #loadPointsComponent [tripId]="tripId" [loadId]="loadItem.Id" [IsFinished]="tripItem.IsFinished" (onLoadPointSelected)="onLoadPointSelected($event)" (onMapUpdate)="onMapUpdate($event)"></dp-load-points>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<dp-load-create #createLoad (onLoadCreated)="onLoadCreated($event)"></dp-load-create>
<dp-load-assign #assignLoad (onLoadsToAssignSelected)="onLoadsToAssignSelected($event)"></dp-load-assign>
<dp-loader></dp-loader>
<dp-messages></dp-messages>
<p-confirmDialog header="Confirm" icon="fa fa-question-circle" width="425"></p-confirmDialog>

<button class="btn btn-lg btn-danger" (click)="back()" pTooltip="Go back" tooltipPosition="left" style="position:fixed; right: 20px; bottom: 10px;">
  <span class="fa fa-reply"></span>
</button>
