<div class="dp-container">
  <div class="row">
    <div class="col-sm-8">
      <div class="row dp-title">
        <div class="col-sm-6" style="padding:5px 10px;">
          <h1>Drivers</h1>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <a class="btn btn-default pull-right" routerLink="/console/resources/drivers/0">
        <i class="fa fa-plus"></i> Add New Driver
      </a>
      <!--<sa-big-breadcrumbs items="['Drivers', 'Overview']"></sa-big-breadcrumbs>-->
    </div>
  </div>
  <form (ngSubmit)="onSubmitSearch()" #filterForm="ngForm" novalidate>
    <div class="row">
      <div class="col-sm-6">
        <input name="inputSearchParam" type="text" class="form-control" placeholder="First name/Last name..." [(ngModel)]="filter.SearchParam" />
      </div>
      <div class="col-sm-6">
        <button type="submit" class="dpl-btn dpl-btn-lg">Search</button>
        <button type="button" (click)="resetFilter()" class="dpl-btn dpl-btn-lg">Reset</button>
      </div>
    </div>
  </form>
  <br />
  <div class="row">
    <div class="col-sm-12">
      <p-dataTable [value]="drivers" [responsive]="true" [scrollable]="true"
                   [rows]="filter.PageSize" [emptyMessage]="emptyMsg"
                   [paginator]="true" [totalRecords]="totalItems" pageLinks="5" [rowsPerPageOptions]="[10,15,20]"
                   [lazy]="true" (onLazyLoad)="loadData($event)">
        <p-column [style]="{'width':'45px'}">
          <ng-template let-driver="rowData" pTemplate="body">
            <a routerLink="/console/resources/drivers/{{driver.Id}}" pButton pTooltip="Driver details" icon="fa-edit"></a>
          </ng-template>
        </p-column>
        <p-column field="DriverID" header="Driver ID" [style]="{'width':'80px'}"></p-column>
        <p-column field="FirstName" header="First Name" [style]="{'width':'120px'}"></p-column>
        <p-column field="LastName" header="Last Name" [style]="{'width':'120px'}"></p-column>
        <p-column field="DisplayName" header="Display Name" [style]="{'width':'200px'}"></p-column>
        <p-column field="DOB" header="Date Of Birth" [style]="{'width':'100px'}">
          <ng-template let-driver="rowData" pTemplate="body">
            {{ driver.DOB | date:'MM/dd/yyyy' }}
          </ng-template>
        </p-column>
        <p-column field="Address1" header="Address" [style]="{'width':'200px'}"></p-column>
        <p-column field="CellPhone" header="Cell Phone" [style]="{'width':'120px'}">
          <ng-template let-driver="rowData" pTemplate="body">
            <a [href]="sanitize(driver.CellPhone)">{{driver.CellPhone}}</a>
          </ng-template>
        </p-column>
        <p-column field="Email" header="Email" [style]="{'width':'200px'}">
          <ng-template let-driver="rowData" pTemplate="body">
            <a href="mailto:{{driver.Email}}">{{driver.Email}}</a>
          </ng-template>
        </p-column>
        <p-column field="MedicalExpirationDate" header="Medical Exp. Date" [style]="{'width':'120px'}">
          <ng-template let-driver="rowData" pTemplate="body">
            <span [ngClass]="{'dp-color-red': driver.MedicalExpirationDays <= 30, 'dp-color-red-bold': driver.MedicalExpirationDays <= 7}">{{ driver.MedicalExpirationDate | date:'MM/dd/yyyy' }}</span>
          </ng-template>
        </p-column>
        <p-column field="FuelCard" header="Fuel Card" [style]="{'width':'120px'}"></p-column>
        <p-column field="DispatchedBy" header="Dispatched By" [style]="{'width':'150px'}"></p-column>
        <p-column field="CDL" header="CDL" [style]="{'width':'120px'}"></p-column>
        <p-column field="CDLState" header="CDL State" [style]="{'width':'80px'}"></p-column>
        <p-column field="CDLExpirationDate" header="CDL Exp. Date" [style]="{'width':'120px'}">
          <ng-template let-driver="rowData" pTemplate="body">
            <span [ngClass]="{'dp-color-red-bold': driver.CDLExpirationDays <= 7, 'dp-color-red': driver.CDLExpirationDays <= 30}">{{ driver.CDLExpirationDate | date:'MM/dd/yyyy' }}</span>
          </ng-template>
        </p-column>
        <p-column field="Truck" header="Truck" [style]="{'width':'120px'}"></p-column>
        <p-column field="Trailer" header="Trailer" [style]="{'width':'120px'}"></p-column>
      </p-dataTable>
    </div>
  </div>
</div>
<!--<dp-loader></dp-loader>
<dp-messages></dp-messages>-->
