<div class="dp-autocomplete">
  <p-autoComplete delay="500" dropdown="true" (onDropdownClick)="handleDropdown($event)"
                  (onSelect)="selectItem(selectedItem)" [disabled]="disabled"
                  [(ngModel)]="selectedItem" field="Name"
                  [suggestions]="data.Result" (completeMethod)="search($event)"></p-autoComplete>
  <!--<span *ngIf="isLoading" class="fa fa-spinner fa-pulse fa-fw diy-loader"></span>-->
  <!--<span *ngIf="selectedItem != null" class="fa fa-times diy-clear" (click)="clearClick()"></span>-->
</div>
