<div class="dp-container">
  <div class="row">
    <div class="col-sm-8">
      <div class="row dp-title">
        <div class="col-sm-6" style="padding:5px 10px;">
          <h1>Users</h1>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <a class="btn btn-default pull-right" routerLink="/console/administration/users/0">
        <i class="fa fa-plus"></i> Add New User
      </a>

      <!--<sa-big-breadcrumbs items="['Drivers', 'Overview']"></sa-big-breadcrumbs>-->
    </div>
  </div>
  <form (ngSubmit)="onSubmitSearch()" #filterForm="ngForm" novalidate>
    <div class="row">
      <div class="col-sm-6">
        <input name="inputSearchParam" type="text" class="form-control" placeholder="First name/Last name..." [(ngModel)]="filter.SearchParam" />
      </div>
      <div class="col-sm-6">
        <button type="submit" class="dpl-btn dpl-btn-lg">Search</button>
        <button type="button" (click)="resetFilter()" class="dpl-btn dpl-btn-lg">Reset</button>
      </div>
    </div>
  </form>
  <br />
  <div class="row">
    <div class="col-sm-12">
      <p-dataTable [value]="users" [responsive]="true"
                   [rows]="filter.PageSize" [emptyMessage]="emptyMsg"
                   [paginator]="true" [totalRecords]="totalItems" pageLinks="5" [rowsPerPageOptions]="[10,20,30]"
                   [lazy]="true" (onLazyLoad)="loadData($event)">
        <p-column [style]="{'width':'44px'}">
          <ng-template let-user="rowData" pTemplate="body">
            <a routerLink="/console/administration/users/{{user.Id}}" pButton pTooltip="User details" icon="fa-edit"></a>
          </ng-template>
        </p-column>
        <p-column field="FirstName" header="First Name"></p-column>
        <p-column field="LastName" header="Last Name"></p-column>
        <p-column field="UserName" header="Username"></p-column>
        <p-column field="Email" header="Email"></p-column>
      </p-dataTable>
    </div>
  </div>
</div>

