<div class="dp-container">
  <div class="row">
    <div class="col-sm-8">
      <div class="row dp-title">
        <div class="col-sm-6" style="padding:5px 10px;">
          <h1>Driver Payroll</h1>
        </div>
      </div>
    </div>
  </div>
  <form (ngSubmit)="onSubmitSearch()" #filterForm="ngForm" novalidate>
    <div class="row">
      <div class="col-sm-4">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10">
          <dp-driver id="inputDriver" name="inputDriver" [(ngModel)]="driverId" fxFlex></dp-driver>
          <button type="submit" class="dpl-btn dpl-btn-lg">Show</button>
        </div>
      </div>
    </div>
  </form>
  <br />
  <div class="row">
    <div class="col-sm-12">
      <p-dataTable [value]="driverPayrolls" [responsive]="true" [scrollable]="true"
                   [rows]="filter.PageSize" [emptyMessage]="emptyMsg"
                   [paginator]="true" [totalRecords]="totalItems" pageLinks="5" [rowsPerPageOptions]="[10,15,20]"
                   [lazy]="true" (onLazyLoad)="loadData($event)">
        <p-column [style]="{'width':'40px'}">
          <ng-template let-pr="rowData" pTemplate="body">
            <a pButton pTooltip="Driver details" icon="fa-edit"></a>
          </ng-template>
        </p-column>
        <p-column field="LoadNumber" header="Load #" [style]="{'width':'120px'}"></p-column>
        <p-column field="DriverId" header="Driver ID" [style]="{'width':'80px'}"></p-column>
        <p-column field="Driver" header="Driver" [style]="{'width':'120px'}"></p-column>

      </p-dataTable>
    </div>
  </div>
</div>
<dp-loader></dp-loader>
<dp-messages></dp-messages>
