<p-dialog header="{{ loadPoint.OrderNumber != 0 ? 'Load Point Details' : 'Starting Point Details'}}" (onShow)="onDialogShown()" [width]="500" [modal]="true" [responsive]="false" [resizable]="false" [(visible)]="display">
  <div class="dp-form-container">
    <form (ngSubmit)="onSubmitLoadPoint()" #loadPointForm="ngForm" novalidate>
      <div class="row" *ngIf="loadPoint.OrderNumber != 0">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputNewActionType">Load Point Action</label><br />
            <p-dropdown [disabled]="loadPoint.OrderNumber == 0" id="inputNewActionType" name="inputNewActionType" [autoWidth]="false" [options]="loadActionTypes" [(ngModel)]="loadPoint.ActionType" required></p-dropdown>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="loadPoint.OrderNumber != 0">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputAppointmentDate">Appointment Date</label><br />
            <p-calendar appendTo="body" id="inputAppointmentDate" name="inputAppointmentDate" [(ngModel)]="loadPoint.DateLoad" dateFormat="mm/dd/yy" showIcon="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2020"></p-calendar>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputAppointmentTime">Appointment Time</label><br />
            <p-calendar  appendTo="body" id="inputAppointmentTime" name="inputAppointmentTime" [timeOnly]="true" [(ngModel)]="loadPointTime" dateFormat="mm/dd/yy" showIcon="true"></p-calendar>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="inputLocationLoadPoint">Location</label>
            <input id="inputLocationLoadPoint" name="inputLocationLoadPoint" #googleSearch type="text" class="form-control" [(ngModel)]="loadPoint.Location" />
            <span class="search-clear-dpl glyphicon glyphicon-remove-circle" (click)="loadPoint.Location = null"></span>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="loadPoint.OrderNumber != 0">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputContact">Contact</label>
            <input id="inputContact" name="inputContact" type="text" class="form-control" [(ngModel)]="loadPoint.Contact" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputPhone">Phone</label>
            <input id="inputPhone" name="inputPhone" type="text" class="form-control" [(ngModel)]="loadPoint.Phone" />
          </div>
        </div>
      </div>
      <div class="row" *ngIf="loadPoint.OrderNumber != 0">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="inputNote">Note</label>
            <textarea id="inputNote" name="inputNote" type="text" class="form-control" [(ngModel)]="loadPoint.Description"></textarea>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-12">
          <button type="submit" [disabled]="loadPoint.Lat == null" class="dpl-btn pull-right dp-margin-left">{{ loadPoint.OrderNumber != 0 ? 'Save Load Point' : 'Save Starting Point'}}</button>
          <button type="button" (click)="display=false" class="dpl-btn pull-right">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</p-dialog>

