:host {
  .dp-bold-italic {
    font-style: italic;
    font-weight: bold;
    font-size: 0.9em;
  }

  .dp-font-green {
    color: #00C853;
  }

  .dp-font-red {
    color: red;
  }

  .dp-active-load {
    background-color: #b3daff;
  }

  .dp-selected-load-point {
    border-left: 4px solid green;
  }

  .dp-starting-load-point {
    background-color: #0e90d2;
    padding: 0 5px;
  }

  .list-group-item {
    padding:10px 5px;
    margin-bottom: 1px !important;
  }

  .btn-load-point {
    background: transparent;
    border: none;
    font-size: 12px;
    height:30px;
    width: 30px;
  }

  .btn-load-point:hover {
    font-size: 15px;
  }

  .dp-load-points-commands {
    position:absolute;
    border-bottom: 1px solid silver;
    right: 0;
    left: 0;
    top: 0;
    height: 30px;
    background-color: rgba(51, 102, 153, 0.75);

    button {
      color: white;
    }


  }
}

