.dp-autocomplete {
  position: relative;
  width: 100%;
  display: inline-block;

  ::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px #e4e3e3;
    background-color: #e4e3e3;
  }

  ::-webkit-scrollbar
  {
    width: 14px;
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar-thumb
  {
    width: 8px;
    border: 3px solid #e4e3e3;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 5px rgba(153,153,153,.53);
    background-color: rgba(153,153,153,.53);
  }

  .ui-autocomplete {
    width: 100%;
  }

  .ui-autocomplete-dropdown {
    height: 36px !important;
  }

  .ui-button-icon-only .ui-button-text {
    padding: .56em;
  }

  .ui-inputtext {
    height: 36px;
    width: calc(100% - 28px);
    padding: 6px 12px;
    border-radius: 3px;
    border-right: none !important;
  }

  .ui-autocomplete-loader {
    right: 45px;
  }

  .diy-clear {
    position: absolute;
    right: 35px;
    top: 10px;
    color: lightgray;
    cursor: pointer;
  }

  .diy-clear:hover {
    color: gray;
  }
}
