.ui-datepicker-calendar {
  td {
    a {
      padding: 0.2em !important;
      &.ui-state-active {
        color: #ffffff !important;
      }
    }
  }
}
.ui-calendar {
  &.small-calendar {
    height: 33px !important;
    // font-size: 12px !important;
    input {
      height: 33px !important;
      // font-size: 12px !important;
    }
  }
  input {
    width: 100%;
    height: 36px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #dad7d7;
    font-size: 14px !important;
    color: #333333;
    font-family: Roboto !important;
    padding-left: 10px;
    outline: none;
    box-shadow: none !important;

    &:enabled:hover + button {
      border-color: #c0c0c0 !important;
    }

    &:disabled {
      background-color: rgba(243, 243, 243, 0.5) !important;
      opacity: 1 !important;
      // border-radius: 5px !important;
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      font-family: Roboto;
      font-size: 14px !important;;
      color: #dad7d7;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      font-family: Roboto;
      font-size: 14px !important;;
      text-align: left;
      color: #dad7d7;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      font-family: Roboto;
      font-size: 14px !important;;
      text-align: left;
      color: #dad7d7;
    }
    &:-moz-placeholder { /* Firefox 18- */
      font-family: Roboto;
      font-size: 14px !important;;
      text-align: left;
      color: #dad7d7;
    }

  }

  &.dark-disabled {
    input {
      &:disabled {
        border: solid 1px #dad7d7;
        background-color: #ffffff !important;
        opacity: 0.4 !important;
      }
    }
  }

  &.ui-calendar-w-btn {
    input {
      border-right: none !important;

      &:focus {
        border-color: #dad7d7 !important;
        border-right: none !important;
      }

      &:disabled {
        border-right: none !important;
        border-radius: 5px 0 0 5px !important;
      }
    }

    .ui-datepicker-trigger {
      border-right: 1px solid #dad7d7 !important;
      border-top: 1px solid #dad7d7 !important;
      border-bottom: 1px solid #dad7d7 !important;
      border-left: none !important;
    }
  }

  &.width-100 {
    width: calc(100% - 28px);
  }
  .ui-calendar-button {
    width: 28px;
    font-size: 15px;
    background-color: #eeeeee;
    color: #999999;
    border-right: solid 1px #dad7d7 !important;
    border-bottom: solid 1px #dad7d7 !important;
    border-left: none;
    border-top: solid 1px #dad7d7 !important;
    border-radius: 0 5px 5px 0 !important;

    &:disabled {
      opacity: 1 !important;
      border-radius: 0 5px 5px 0 !important;

    }

    &:hover {
      background-color: #eeeeee !important;
      color: #999999 !important;
    }
  }
}
