.ui-datatable.borderless thead th,
.ui-datatable.borderless tbody,
.ui-datatable.borderless tbody tr,
.ui-datatable.borderless tbody td {
  border-style: none;
}
// customize data table
.ui-datatable {
  ::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px #e4e3e3;
    background-color: #e4e3e3;
  }

  ::-webkit-scrollbar
  {
    width: 14px;
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar-thumb
  {
    width: 8px;
    border: 3px solid #e4e3e3;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 5px rgba(153,153,153,.53);
    background-color: rgba(153,153,153,.53);
  }

  font-size: 12px;
  font-family: Roboto;

  .ui-datatable-thead {
    background: #dad7d7;

  }

  .ui-datatable-data {
    .ui-cell-data {
      a {
        width: 30px;
        height: 30px;
      }
    }
  }

  .checkbox-column {
    width: 26px;
  }

}
