.ui-dropdown {
  height: 36px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #dad7d7;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;

  &.ui-state-focus {
    border-color: #dad7d7 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    outline: none;
  }

  label {
    font-family: Roboto;
    font-size: 14px;
    color: #333333;
    cursor: pointer !important;
  }

  &.small {
    height: 33px !important;
    font-size: 12px !important;
    .ui-dropdown-trigger {
      .fa {
        margin-top: .4em;
      }
    }
    label {
      padding-top: 4px !important;
    }
  }

  .ui-placeholder {
    color: #898989 !important;
  }

  .ui-dropdown-trigger {
    background: #eeeeee;
    border-left: none;
    width: 28px;

    .fa {
      color: #999999;
      font-size: 18px;
      margin-top: .5em;
      position: absolute;
      left: 30%;
      width: 18px;
    }
  }

  .ui-dropdown-item {
    word-wrap: break-word !important;
    span {
      font-family: Roboto;
      font-size: 14px;
    }
  }

  .ui-state-highlight {
    background: #066fa9;
  }

  &.width-100 {
    width: 100px !important;
  }

  &.width-120 {
    width: 120px !important;
  }

  &.width-140 {
    width: 140px !important;
  }

  &.width-160 {
    width: 160px !important;
  }

  &.width-100-percent {
    width: 100% !important;

    .ui-dropdown-item {
      max-width: 100% !important;
      word-wrap: break-word !important;
    }
  }

  &.ui-state-disabled {
    opacity: 1 !important;
    label {
      background-color: rgba(243, 243, 243, 0.5);
      color: #dcdada !important;
    }
  }
}
.ui-dropdown.ui-state-disabled .ui-dropdown.ui-state-disabled .ui-dropdown-label {
  background-color: rgba(243, 243, 243, 0.5) !important;
}
