<div class="dp-details">
  <form (ngSubmit)="onSubmit()" #userForm="ngForm" novalidate>
    <!--<sticky [sticky-zIndex]="500000000" style="width: 100%;">
      <div class="row dp-title">
        <div class="col-sm-6" style="padding:5px 10px;">
          <h1>User Details</h1>
        </div>
        <div class="col-sm-6" style="padding:5px 10px;">
          <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-default pull-right dp-margin-left">Save user details</button>
          <a class="btn btn-default pull-right" [routerLink]="['/users']">Cancel</a>
        </div>
      </div>
    </sticky>-->
    <div class="details-header">
      <div class="row dp-title">
        <div class="col-sm-6" style="padding-top:10px; padding-left: 300px">
          <h1>User Details</h1>
        </div>
        <div class="col-sm-6" style="padding-top:10px; padding-right: 50px">
          <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-default pull-right dp-margin-left">Save user details</button>
          <a class="btn btn-default pull-right" routerLink="/console/administration/users">Cancel</a>
        </div>
      </div>
    </div>
    <div class="dp-content">
      <div class="row">
        <div class="col-sm-4 dp-header">
          <div>
            General information
          </div>
          <div class="hint">
            Please provide basic info about the user
          </div>
        </div>
        <div class="col-sm-8 dp-data">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputUserID">User ID</label><span class="required-tip">(required)</span>
                <input type="text" class="form-control" id="inputUserID" name="inputUserID" [(ngModel)]="modelItem.UserId" required/>
              </div>
            </div>
            <div class="col-sm-6" style="padding-top:30px;">
              <input type="checkbox" name="chkIsActive" id="chkIsActive" class="css-checkbox" [(ngModel)]="modelItem.IsActive" />
              <label for="chkIsActive" class="css-label">Is Active</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputFirstName">First Name</label><span class="required-tip">(required)</span>
                <input type="text" class="form-control" id="inputFirstName" name="inputFirstName" [(ngModel)]="modelItem.FirstName" required />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputLastName">Last Name</label><span class="required-tip">(required)</span>
                <input type="text" class="form-control" id="inputLastName" name="inputLastName" [(ngModel)]="modelItem.LastName" required/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputUserName">Username</label><span class="required-tip">(required)</span>
                <input type="text" class="form-control" id="inputUserName" name="inputUserName" [(ngModel)]="modelItem.UserName" required />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputInviteCode">Invite Code</label>
                <input type="text" class="form-control" id="inputInviteCode" name="inputInviteCode" [(ngModel)]="modelItem.InviteCode" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="inputAddress" name="inputAddress" [(ngModel)]="modelItem.Address" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputDescription">Description</label>
                <input type="text" class="form-control" id="inputDescription" name="inputDescription" [(ngModel)]="modelItem.Description" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputPhoneNumber">Phone Number</label>
                <input type="text" class="form-control" id="inputPhoneNumber" name="inputPhoneNumber" [(ngModel)]="modelItem.PhoneNumber" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputMobileNumber">Mobile Number</label>
                <input type="text" class="form-control" id="inputMobileNumber" name="inputMobileNumber" [(ngModel)]="modelItem.MobileNumber" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="text" class="form-control" id="inputEmail" name="inputEmail" [(ngModel)]="modelItem.Email" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputCompanies">Companies</label><br>
                <p-multiSelect id="inputCompanies" name="inputCompanies" [options]="companies" [(ngModel)]="selectedCompanies"></p-multiSelect>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<dp-loader></dp-loader>
<dp-messages></dp-messages>
