<div class="dp-data">
  <form (ngSubmit)="onSubmitTrip()" #tripForm="ngForm" novalidate>
    <h3>Trip details</h3>
    <hr />
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-4 col-xs-12">
            <div class="form-group">
              <label>Trip #: {{tripItem.TripNumber}}</label>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <input type="checkbox" name="chkIsActive" id="chkIsActive" class="css-checkbox" [(ngModel)]="tripItem.IsActive" />
            <label for="chkIsActive" class="css-label">Is Active</label>
          </div>
          <div class="col-sm-4 col-xs-12">
            <input type="checkbox" name="chkIsTeam" id="chkIsTeam" class="css-checkbox" [(ngModel)]="isTeam" (ngModelChange)="onIsTeamChanged($event)" />
            <label for="chkIsTeam" class="css-label">Is Team</label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <div class="form-group">
              <label for="inputTruck">Truck</label><span class="required-tip">(required)</span><br />
              <dp-truck id="inputTruck" name="inputTruck" [(ngModel)]="tripItem.TruckId" required></dp-truck>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="form-group">
              <label for="inputTrailer">Trailer</label><span class="required-tip">(required)</span><br />
              <dp-trailer id="inputTrailer" name="inputTrailer" [(ngModel)]="tripItem.TrailerId" required></dp-trailer>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p-tabView>
          <p-tabPanel header="Driver 1">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                  <label for="inputDriverA">Driver 1</label><span class="required-tip">(required)</span><br />
                  <dp-driver id="inputDriverA" name="inputDriverA" [(ngModel)]="tripItem.DriverAId" (onDriverSelected)="onDriverASelected($event)" required></dp-driver>
                </div>
              </div>
              <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="form-group">
                  <label for="inputDriver1PayType">Pay Type</label><br />
                  <p-dropdown [autoWidth]="false" [appendTo]="'body'" id="inputDriver1PayType" name="inputDriver1PayType" [disabled]="tripItem.DriverAId == 0 || tripItem.DriverAId == null" [options]="payTypes" [(ngModel)]="tripItem.PayTypeDriverA"></p-dropdown>
                </div>
              </div>
            </div>
            <div class="row">

              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <dp-rate-value name="inputDriver1PayRate" [size]="6" title="Pay Rate" [rateType]="tripItem.PayTypeDriverA" [(ngModel)]="tripItem.PayRateFullDriverA"></dp-rate-value>
                <!--<div class="form-group">
                    <label for="inputDriver1PayRate">Pay Rate</label><br />
                    <p-spinner id="inputDriver1PayRate" pTooltip="{{tripItem.PayTypeDriverA == 0 ? '$/mile' : (tripItem.PayTypeDriverA == 1 ? '%' : '$/hour')}}" tooltipPosition="right" name="inputDriver1PayRate" [disabled]="tripItem.DriverAId == 0 || tripItem.DriverAId == null" size="10" [(ngModel)]="tripItem.PayRateFullDriverA"></p-spinner>
                </div>-->
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <dp-rate-value name="inputDriver1EmptyRate" [size]="6" title="Empty Rate" [rateType]="tripItem.PayTypeDriverA" [(ngModel)]="tripItem.PayRateEmptyDriverA"></dp-rate-value>
                <!--<div class="form-group">
                    <label for="inputDriver1EmptyRate">Empty Rate</label><br />
                    <p-spinner id="inputDriver1EmptyRate" pTooltip="{{tripItem.PayTypeDriverA == 0 ? '$/mile' : (tripItem.PayTypeDriverA == 1 ? '%' : '$/hour')}}" tooltipPosition="right" name="inputDriver1EmptyRate" [disabled]="tripItem.DriverAId == 0 || tripItem.DriverAId == null" size="10" [(ngModel)]="tripItem.PayRateEmptyDriverA"></p-spinner>
                </div>-->
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <dp-rate-value name="inputDriver1BobtailRate" [size]="6" title="Bobtail Rate" [rateType]="tripItem.PayTypeDriverA" [(ngModel)]="tripItem.PayRateBobtailDriverA"></dp-rate-value>
                <!--<div class="form-group">
                    <label for="inputDriver1BobtailRate">Bobtail Rate</label><br />
                    <p-spinner id="inputDriver1BobtailRate" pTooltip="{{tripItem.PayTypeDriverA == 0 ? '$/mile' : (tripItem.PayTypeDriverA == 1 ? '%' : '$/hour')}}" tooltipPosition="right" name="inputDriver1BobtailRate" [disabled]="tripItem.DriverAId == 0 || tripItem.DriverAId == null" size="10" [(ngModel)]="tripItem.PayRateBobtailDriverA"></p-spinner>
                </div>-->
              </div>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Driver 2" *ngIf="isTeam == true">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                  <label for="inputDriverB">Driver 2</label><br />
                  <dp-driver id="inputDriverB" name="inputDriverB" [(ngModel)]="tripItem.DriverBId" (onDriverSelected)="onDriverBSelected($event)"></dp-driver>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                  <label for="inputDriver2PayType">Pay Type</label><br />
                  <p-dropdown id="inputDriver2PayType" name="inputDriver2PayType" [disabled]="tripItem.DriverBId == 0 || tripItem.DriverBId == null" [autoWidth]="false" [options]="payTypes" [(ngModel)]="tripItem.PayTypeDriverB"></p-dropdown>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <dp-rate-value name="inputDriver2PayRate" [size]="6" title="Pay Rate" [rateType]="tripItem.PayTypeDriverB" [(ngModel)]="tripItem.PayRateFullDriverB"></dp-rate-value>
                <!--<div class="form-group">
                    <label for="inputDriver2PayRate">Pay Rate</label><br />
                    <p-spinner id="inputDriver2PayRate" pTooltip="{{tripItem.PayTypeDriverB == 0 ? '$/mile' : (tripItem.PayTypeDriverB == 1 ? '%' : '$/hour')}}" tooltipPosition="right" name="inputDriver2PayRate" [disabled]="tripItem.DriverBId == 0 || tripItem.DriverBId == null" size="10" [(ngModel)]="tripItem.PayRateFullDriverB"></p-spinner>
                </div>-->
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <dp-rate-value name="inputDriver2EmptyRate" [size]="6" title="Empty Rate" [rateType]="tripItem.PayTypeDriverB" [(ngModel)]="tripItem.PayRateEmptyDriverB"></dp-rate-value>
                <!--<div class="form-group">
                    <label for="inputDriver2EmptyRate">Empty Rate</label><br />
                    <p-spinner id="inputDriver2EmptyRate" pTooltip="{{tripItem.PayTypeDriverB == 0 ? '$/mile' : (tripItem.PayTypeDriverB == 1 ? '%' : '$/hour')}}" tooltipPosition="right" name="inputDriver2EmptyRate" [disabled]="tripItem.DriverBId == 0 || tripItem.DriverBId == null" size="10" [(ngModel)]="tripItem.PayRateEmptyDriverB"></p-spinner>
                </div>-->
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <dp-rate-value name="inputDriver2BobtailRate" [size]="6" title="Bobtail Rate" [rateType]="tripItem.PayTypeDriverB" [(ngModel)]="tripItem.PayRateBobtailDriverB"></dp-rate-value>
                <!--<div class="form-group">
                    <label for="inputDriver2BobtailRate">Bobtail Rate</label><br />
                    <p-spinner id="inputDriver2BobtailRate" pTooltip="{{tripItem.PayTypeDriverB == 0 ? '$/mile' : (tripItem.PayTypeDriverB == 1 ? '%' : '$/hour')}}" tooltipPosition="right" name="inputDriver2BobtailRate" [disabled]="tripItem.DriverBId == 0 || tripItem.DriverBId == null" size="10" [(ngModel)]="tripItem.PayRateBobtailDriverB"></p-spinner>
                </div>-->
              </div>
            </div>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button *ngIf="tripItem.IsFinished == false" type="button" (click)="finalizeTrip()" class="dpl-btn">Finalize Trip</button>
        <button *ngIf="tripItem.IsFinished == true" type="button" (click)="reopenTrip()" class="dpl-btn">Re-Open Trip</button>

        <button *ngIf="showCancelButton" type="button" (click)="saveAndFinalizeTrip()" [disabled]="!tripForm.form.valid || tripItem.IsFinished == true" class="dpl-btn dp-margin-left">Save and Finalize</button>
        <button type="submit" [disabled]="!tripForm.form.valid || tripItem.IsFinished == true" class="dpl-btn pull-right dp-margin-left">Save Trip Details</button>
        <button *ngIf="showCancelButton" type="button" (click)="cancel()" class="dpl-btn pull-right dp-margin-left">Cancel</button>
      </div>
    </div>
  </form>
</div>
