.bannerzj1 {font-size:20pt;
  background-color:#336699;}
.darkbluezj1 {background-color:#336699;
  color:#ffc835;}
.darkbluezj1:hover {background-color:#dae9fc;
  color:#336699;}
.navzj1 {background-color:#336699;}
.lightbluezj1 {color:	#dae9fc;}
.darkbluezj2 {color:#dae9fc;}
.goldzj1 {color:#ffc835;}
.goldzj1 a {color:#ffc835;}
a.goldzj1:hover {color:#dae9fc;
  text-decoration:none;}
p, h1, h2, h3 {color:#336699;}
.goldzj2 {color:#dae9fc;}
a.goldzj2:hover {color:#fff;
  text-decoration:none;}
.darkbluezj3 {background-color:#336699;
  color:#ffc835;}

.darkbluezj3 {
  position: absolute;
  left: 0 ; right: 0; bottom: 0;
  height:50px;
}
.rowpush {padding-bottom:30px;}
