<div class="dp-details">
  <div class="dp-content">
    <div class="row">
      <div class="col-sm-4">
        <div class="dp-data">
          <div class="row">
            <div class="col-sm-12">
              <h3>Load Details</h3>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-12">
              <button *ngIf="loadItem.Id > 0" type="button" class="btn btn-default pull-right dp-margin-left" (click)="assignToTrip()">
                <i class="fa fa-link"></i> Assign to Trip
              </button>
              <button *ngIf="loadItem.Id > 0" type="button" class="btn btn-default pull-right" (click)="createTrip()">
                <i class="fa fa-plus"></i> Create New Trip
              </button>
            </div>
          </div>
          <hr *ngIf="loadItem.Id > 0"/>
          <dp-load-item [loadItem]="loadItem" (onLoadCreated)="onLoadCreated($event)"></dp-load-item>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="dp-data" [hidden]="loadItem.Id==0">
          <dp-load-points #loadPointsComponent [tripId]="0" [loadId]="loadItem.Id" [IsFinished]="false" (onMapUpdate)="onMapUpdate($event)"></dp-load-points>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="dp-data">
          <dp-map (onRouteDrawn)="onRouteDrawn($event)" #map></dp-map>
        </div>
      </div>
    </div>
  </div>
</div>
<dp-load-create #createLoad (onLoadCreated)="onLoadFromDialogCreated($event)" (onCancelCreateLoad)="onCancelCreateLoad()"></dp-load-create>

<p-dialog header="Create New Trip" [width]="680" [modal]="true" [responsive]="true" [resizable]="false" [(visible)]="createNewTripVisible">
  <div class="row">
    <div class="col-sm-12">
      <dp-trip-item #tripDetails [showCancelButton]="true" [loadId]="loadId" (onTripCancel)="onTripCancel()" (onTripSaved)="onTripSaved($event)" [tripItem]="tripItem"></dp-trip-item>
    </div>
  </div>
</p-dialog>
<p-dialog header="Assign Load to Trip" [width]="1024" [modal]="true" [responsive]="true" [resizable]="false" [(visible)]="assignLoadVisible">
  <div class="dp-form-container">
    <div class="row">
      <div class="col-sm-12">
        <dp-trip-select (onTripSelected)="onTripSelected($event)"></dp-trip-select>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-12">
        <button [disabled]="tripToAssignId == 0" type="submit" class="btn btn-success pull-right dp-margin-left" (click)="assignLoadToTrip()">Assign</button>
        <button type="button" (click)="assignLoadVisible=false" class="btn btn-default pull-right">Cancel</button>
      </div>
    </div>
  </div>
</p-dialog>
<dp-loader></dp-loader>
<dp-messages></dp-messages>
<p-confirmDialog header="Confirm delete" icon="fa fa-question-circle" width="425"></p-confirmDialog>
