<div class="dp-container">
  <div class="row">
    <div class="col-sm-8">
      <div class="row dp-title">
        <div class="col-sm-6" style="padding:5px 10px;">
          <h1>Loads</h1>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <a class="btn btn-default pull-right" routerLink="/console/dispatch/loads/0">
        <i class="fa fa-plus"></i> Create New Load
      </a>
      <!--<sa-big-breadcrumbs items="['Drivers', 'Overview']"></sa-big-breadcrumbs>-->
    </div>
  </div>
  <form (ngSubmit)="onSubmitSearch()" #filterForm="ngForm" novalidate>
    <div class="row">
      <div class="col-sm-6">
        <input name="inputSearchParam" type="text" class="form-control" placeholder="Load # / Confirmation # / PO # / BO # / Driver / Truck / Trailer" [(ngModel)]="filter.SearchParam" />
      </div>
      <div class="col-sm-6">
        <button type="submit" class="dpl-btn dpl-btn-lg">Search</button>
        <button type="button" (click)="resetFilter()" class="dpl-btn dpl-btn-lg">Reset</button>
      </div>
    </div>
  </form>
  <br />
  <div class="row">
    <div class="col-sm-12">
      <p-dataTable #dataTable [value]="items" [responsive]="true" [scrollable]="true"
                   [rows]="filter.PageSize" [emptyMessage]="emptyMsg"
                   [paginator]="true" [totalRecords]="totalItems" pageLinks="5" [rowsPerPageOptions]="[10,15,20]"
                   [lazy]="true" (onLazyLoad)="loadData($event)">
        <p-column [style]="{'width':'45px'}">
          <ng-template let-load="rowData" pTemplate="body">
            <a *ngIf="load.TripId == 0" routerLink="/console/dispatch/loads/{{load.Id}}" pButton pTooltip="Load details" icon="fa-edit"></a>
            <a *ngIf="load.TripId > 0" [routerLink]="['/console/dispatch/trips', load.TripId, { loadId: load.Id }]" pButton pTooltip="Trip details" icon="fa-edit"></a>
          </ng-template>
        </p-column>
        <p-column field="LoadNumber" header="Load #" [style]="{'width':'80px'}"></p-column>
        <p-column field="TripNumber" header="Trip #" [style]="{'width':'80px'}"></p-column>
        <p-column field="LocationStart" header="From" [style]="{'width':'120px'}"></p-column>
        <p-column field="LocationEnd" header="To" [style]="{'width':'120px'}"></p-column>
        <p-column field="FromDate" header="Date From" [style]="{'width':'120px'}">
          <ng-template let-load="rowData" pTemplate="body">
            {{ load.FromDate | date:'MM/dd/yyyy' }}
          </ng-template>
        </p-column>
        <p-column field="ToDate" header="Date To" [style]="{'width':'120px'}">
          <ng-template let-load="rowData" pTemplate="body">
            {{ load.ToDate | date:'MM/dd/yyyy' }}
          </ng-template>
        </p-column>
        <p-column field="PO" header="PO" [style]="{'width':'120px'}"></p-column>
        <p-column field="Confirmation" header="Confirmation" [style]="{'width':'120px'}"></p-column>
        <p-column field="BOL" header="BOL" [style]="{'width':'120px'}"></p-column>
        <p-column field="DriverA" header="Driver A" [style]="{'width':'140px'}"></p-column>
        <p-column field="DriverB" header="Driver B" [style]="{'width':'140px'}"></p-column>
        <p-column field="Truck" header="Truck" [style]="{'width':'100px'}"></p-column>
        <p-column field="Trailer" header="Trailer" [style]="{'width':'100px'}"></p-column>
        <p-column field="Brokerage" header="Brokerage" [style]="{'width':'120px'}"></p-column>
        <p-column field="Price" header="Price" [style]="{'width':'80px'}"></p-column>
        <p-column field="Miles" header="Miles" [style]="{'width':'80px'}"></p-column>
        <p-column field="PendingIssue" header="Pending Issue" [style]="{'width':'120px'}">
          <ng-template let-load="rowData" pTemplate="body">
            <i *ngIf="load.PendingIssue == true" style="color: lawngreen;" class="fa fa-check" aria-hidden="true"></i>
            <i *ngIf="load.PendingIssue == false" style="color: red" class="fa fa-times" aria-hidden="true"></i>
          </ng-template>
        </p-column>
        <p-column field="PaidInFull" header="Paid In Full" [style]="{'width':'80px'}">
          <ng-template let-load="rowData" pTemplate="body">
            <i *ngIf="load.PaidInFull == true" style="color: lawngreen;" class="fa fa-check" aria-hidden="true"></i>
            <i *ngIf="load.PaidInFull == false" style="color: red" class="fa fa-times" aria-hidden="true"></i>
          </ng-template>
        </p-column>
        <p-column field="DispatchPaid" header="Dispatch Paid" [style]="{'width':'120px'}">
          <ng-template let-load="rowData" pTemplate="body">
            <i *ngIf="load.DispatchPaid == true" style="color: lawngreen;" class="fa fa-check" aria-hidden="true"></i>
            <i *ngIf="load.DispatchPaid == false" style="color: red" class="fa fa-times" aria-hidden="true"></i>
          </ng-template>
        </p-column>
        <!--<p-column field="IsFinished" header="Finished" [style]="{'width':'80px'}">
            <ng-template let-load="rowData" pTemplate="body">
                <i *ngIf="load.IsFinished == true" style="color: red" pTooltip="Trip finished" [tooltipPosition]="left" class="fa fa-lock" aria-hidden="true"></i>
                <i *ngIf="load.IsFinished == false" style="color: lawngreen;" pTooltip="Trip open" [tooltipPosition]="left" class="fa fa-unlock" aria-hidden="true"></i>
            </ng-template>
        </p-column>-->
      </p-dataTable>
    </div>
  </div>
</div>
<dp-loader></dp-loader>
