<header id="header" class="animated fadeInDown">
  <div id="logo-group">
    <span id="logo"> <img src="assets/img/logo.png" alt="DispatchPal"> </span>
  </div>
</header>
<div id="main" role="main" class="animated fadeInDown dp-details dp-no-margin">
  <div id="content" class="container">
    <div class="well dp-center-login">
      <form (ngSubmit)="login(loginForm)" #loginForm="ngForm" novalidate>
        <header>
          Sign In
        </header>
        <hr />
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="inputUsername">Username</label><span class="required-tip">(required)</span>
              <input type="text" class="form-control" id="inputUsername" name="inputUsername" [(ngModel)]="user.UserName" required />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="inputPassword">Password</label><span class="required-tip">(required)</span>
              <input type="password" class="form-control" id="inputPassword" name="inputPassword" [(ngModel)]="user.Password" required />
            </div>
          </div>
        </div>
        <footer>
          <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">
            Sign in
          </button>
        </footer>
      </form>
    </div>
  </div>
</div>
