<div class="dp-container">
  <div class="row">
    <div class="col-sm-8">
      <div class="row dp-title">
        <div class="col-sm-6" style="padding:5px 10px;">
          <h1>Trips</h1>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <a class="btn btn-default pull-right" [routerLink]="['/console/dispatch/trips', 0]">
        <i class="fa fa-plus"></i> Create New Trip
      </a>
    </div>
  </div>
  <form (ngSubmit)="onSubmitSearch()" #filterForm="ngForm" novalidate>
    <div class="row">
      <div class="col-sm-4">
        <input name="inputSearchParam" type="text" placeholder="Trip Number..." [(ngModel)]="filter.SearchParam" />
      </div>
      <div class="col-sm-3">
        <p-dropdown id="inputActionType" name="inputActionType" [autoWidth]="true" [options]="statuses" [(ngModel)]="filter.ActiveStatus" required></p-dropdown>
      </div>
      <div class="col-sm-5">
        <button type="submit" class="dpl-btn dpl-btn-lg">Search</button>
        <button type="button" (click)="resetFilter()" class="dpl-btn dpl-btn-lg">Reset</button>
      </div>
    </div>
  </form>
  <br />
  <div class="row">
    <div class="col-sm-12">
      <p-dataTable #dataTable [value]="items" [responsive]="true" [scrollable]="true"
                   [rows]="filter.PageSize" [emptyMessage]="emptyMsg"
                   [paginator]="true" [totalRecords]="totalItems" pageLinks="5" [rowsPerPageOptions]="[10,15,20]"
                   [lazy]="true" (onLazyLoad)="loadData($event)">
        <p-column [style]="{'width':'45px'}">
          <ng-template let-trip="rowData" pTemplate="body">
            <a [routerLink]="['/console/dispatch/trips', trip.Id]" pButton pTooltip="Trip details" icon="fa-edit"></a>
          </ng-template>
        </p-column>
        <p-column field="TripNumber" header="Trip #" [style]="{'width':'80px'}"></p-column>
        <p-column field="DriverA" header="Driver A" [style]="{'width':'140px'}"></p-column>
        <p-column field="DriverB" header="Driver B" [style]="{'width':'140px'}"></p-column>
        <p-column field="Truck" header="Truck" [style]="{'width':'100px'}"></p-column>
        <p-column field="Trailer" header="Trailer" [style]="{'width':'100px'}"></p-column>
        <p-column field="DateFrom" header="Date From" [style]="{'width':'120px'}">
          <ng-template let-load="rowData" pTemplate="body">
            {{ load.DateFrom | date:'MM/dd/yyyy' }}
          </ng-template>
        </p-column>
        <p-column field="DateTo" header="Date To" [style]="{'width':'120px'}">
          <ng-template let-load="rowData" pTemplate="body">
            {{ load.DateTo | date:'MM/dd/yyyy' }}
          </ng-template>
        </p-column>
        <p-column field="PayTypeDriverA" header="Pay Type DriverA" [style]="{'width':'120px'}"></p-column>
        <p-column field="PayRateFullDriverA" header="Pay Rate Full DriverA" [style]="{'width':'160px'}"></p-column>
        <p-column field="PayRateEmptyDriverA" header="Pay Rate Empty DriverA" [style]="{'width':'160px'}"></p-column>
        <p-column field="PayRateBobtailDriverA" header="Pay Rate Bobtail DriverA" [style]="{'width':'180px'}"></p-column>
        <p-column field="PayTypeDriverB" header="Pay Type DriverB" [style]="{'width':'120px'}"></p-column>
        <p-column field="PayRateFullDriverB" header="Pay Rate Full DriverB" [style]="{'width':'160px'}"></p-column>
        <p-column field="PayRateEmptyDriverB" header="Pay Rate Empty DriverB" [style]="{'width':'160px'}"></p-column>
        <p-column field="PayRateBobtailDriverB" header="Pay Rate Bobtail DriverB" [style]="{'width':'180px'}"></p-column>
        <p-column field="IsFinished" header="Finished" [style]="{'width':'80px'}">
          <ng-template let-trip="rowData" pTemplate="body">
            <i *ngIf="trip.IsFinished == true" style="color: red" pTooltip="Trip finished" [tooltipPosition]="left" class="fa fa-lock" aria-hidden="true"></i>
            <i *ngIf="trip.IsFinished == false" style="color: lawngreen;" pTooltip="Trip open" [tooltipPosition]="left" class="fa fa-unlock" aria-hidden="true"></i>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
  </div>
</div>
<dp-loader></dp-loader>

