<p-dialog [(visible)]="display"
          [draggable]="false"
          [resizable]="false"
          [modal]="false"
          [closeOnEscape]="false"
          [closable]="false"
          [responsive]="true"
          styleClass="app-loader">
  <i class="loader-spinner fa fa-spinner fa-pulse fa-2x fa-fw"></i>
  <span class="loader-label">Please wait...</span>
</p-dialog>
