<div class="dp-container">
  <div class="row">
    <div class="col-sm-8">
      <div class="row dp-title">
        <div class="col-sm-6" style="padding:5px 10px;">
          <h1>{{ pageTitle }}</h1>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <a class="btn btn-default pull-right" [routerLink]="filter.VehicleType == 0 ? ['/console/resources/trucks', 0] : ['/console/resources/trailers', 0]">
        <i class="fa fa-plus"></i> {{addNewTitle}}
      </a>

      <!--<sa-big-breadcrumbs items="['Drivers', 'Overview']"></sa-big-breadcrumbs>-->
    </div>
  </div>
  <form (ngSubmit)="onSubmitSearch()" #filterForm="ngForm" novalidate>
    <div class="row">
      <div class="col-sm-6">
        <input name="inputSearchParam" type="text" class="form-control" placeholder="Display Name/Vehicle ID/Model/Number" [(ngModel)]="filter.SearchParam" />
      </div>
      <div class="col-sm-6">
        <button type="submit" class="dpl-btn dpl-btn-lg">Search</button>
        <button type="button" (click)="resetFilter()" class="dpl-btn dpl-btn-lg">Reset</button>
      </div>
    </div>
  </form>
  <br />
  <div class="row">
    <div class="col-sm-12">
      <p-dataTable [value]="vehicles" [responsive]="true" [scrollable]="true"
                   [rows]="filter.PageSize" [emptyMessage]="emptyMsg"
                   [paginator]="true" [totalRecords]="totalItems" pageLinks="5" [rowsPerPageOptions]="[10,15,20]"
                   [lazy]="true" (onLazyLoad)="loadData($event)">
        <p-column [style]="{'width':'45px'}">
          <ng-template let-vehicle="rowData" pTemplate="body">
            <a *ngIf="vehicle.VehicleType == 0" routerLink="/console/resources/trucks/{{vehicle.Id}}" pButton pTooltip="Truck details" icon="fa-edit"></a>
            <a *ngIf="vehicle.VehicleType == 1" routerLink="/console/resources/trailers/{{vehicle.Id}}" pButton pTooltip="Trailer details" icon="fa-edit"></a>
          </ng-template>
        </p-column>
        <p-column field="VehicleID" header="Vehicle ID" [style]="{'width':'80px'}"></p-column>
        <!--<p-column field="DisplayName" header="Display Name" [style]="{'width':'160px'}"></p-column>-->
        <!--<p-column field="Number" header="Number" [style]="{'width':'80px'}"></p-column>-->
        <p-column field="Make" header="Make" [style]="{'width':'120px'}"></p-column>
        <p-column field="Model" header="Model" [style]="{'width':'80px'}"></p-column>

        <p-column field="Year" header="Year" [style]="{'width':'80px'}"></p-column>
        <p-column field="Size" header="Size" [style]="{'width':'80px'}"></p-column>
        <p-column field="Color" header="Color" [style]="{'width':'80px'}"></p-column>
        <p-column field="InsuranceWith" header="Insurance With" [style]="{'width':'80px'}"></p-column>
        <p-column field="PlateNumber" header="Plate Number" [style]="{'width':'80px'}"></p-column>
        <p-column field="State" header="State" [style]="{'width':'80px'}"></p-column>
        <p-column field="PlateExpiration" header="Plate Exp." [style]="{'width':'120px'}">
          <ng-template let-vehicle="rowData" pTemplate="body">
            <span [ngClass]="{'dp-color-red': vehicle.PlateExpiration <= 30, 'dp-color-red-bold': vehicle.PlateExpirationDays <= 7}">{{ vehicle.PlateExpiration | date:'MM/dd/yyyy' }}</span>
          </ng-template>
        </p-column>
        <p-column field="VIN" header="VIN" [style]="{'width':'80px'}"></p-column>
        <p-column field="DOTExpiration" header="DOT Exp." [style]="{'width':'120px'}">
          <ng-template let-vehicle="rowData" pTemplate="body">
            <span [ngClass]="{'dp-color-red': vehicle.DOTExpiration <= 30, 'dp-color-red-bold': vehicle.DOTExpirationDays <= 7}">{{ vehicle.DOTExpiration | date:'MM/dd/yyyy' }}</span>
          </ng-template>
        </p-column>
        <p-column field="DispatchedBy" header="Dispatched By" [style]="{'width':'160px'}"></p-column>
        <p-column field="Ownership" header="Ownership" [style]="{'width':'80px'}"></p-column>
        <p-column field="LeasedFrom" header="Leased From" [style]="{'width':'120px'}">
          <ng-template let-vehicle="rowData" pTemplate="body">
            <span [ngClass]="{'dp-color-red': vehicle.LeasedFrom <= 30}">{{ vehicle.LeasedFrom | date:'MM/dd/yyyy' }}</span>
          </ng-template>
        </p-column>
        <p-column field="LeasedStart" header="Leased Start" [style]="{'width':'120px'}">
          <ng-template let-vehicle="rowData" pTemplate="body">
            <span [ngClass]="{'dp-color-red': vehicle.LeasedStart <= 30}">{{ vehicle.LeasedStart | date:'MM/dd/yyyy' }}</span>
          </ng-template>
        </p-column>
        <p-column field="LeasedEnd" header="Leased End" [style]="{'width':'120px'}">
          <ng-template let-vehicle="rowData" pTemplate="body">
            <span [ngClass]="{'dp-color-red': vehicle.LeasedEnd <= 30}">{{ vehicle.LeasedEnd | date:'MM/dd/yyyy' }}</span>
          </ng-template>
        </p-column>
        <p-column field="PurchaseDate" header="Purchase Date" [style]="{'width':'120px'}">
          <ng-template let-vehicle="rowData" pTemplate="body">
            <span [ngClass]="{'dp-color-red': vehicle.PurchaseDate <= 30}">{{ vehicle.PurchaseDate | date:'MM/dd/yyyy' }}</span>
          </ng-template>
        </p-column>
        <p-column field="PurchasedFrom" header="Purchased From" [style]="{'width':'160px'}"></p-column>
        <p-column field="SellDate" header="Sell Date" [style]="{'width':'120px'}">
          <ng-template let-vehicle="rowData" pTemplate="body">
            <span [ngClass]="{'dp-color-red': vehicle.SellDate <= 30}">{{ vehicle.SellDate | date:'MM/dd/yyyy' }}</span>
          </ng-template>
        </p-column>
        <p-column field="SoldTo" header="Sold To" [style]="{'width':'160px'}"></p-column>
        <p-column field="Insured" header="Insured" [style]="{'width':'80px'}"></p-column>
        <p-column field="InsuranceDate" header="Insurance Date" [style]="{'width':'120px'}">
          <ng-template let-vehicle="rowData" pTemplate="body">
            <span [ngClass]="{'dp-color-red': vehicle.InsuranceDate <= 30 }">{{ vehicle.InsuranceDate | date:'MM/dd/yyyy' }}</span>
          </ng-template>
        </p-column>
        <p-column field="InsurancePremium" header="Insurance Premium"></p-column>
        <p-column field="Note" header="Note" [style]="{'width':'80px'}"></p-column>
        <p-column field="WarrantyDate" header="Warranty Date" [style]="{'width':'120px'}">
          <ng-template let-vehicle="rowData" pTemplate="body">
            <span [ngClass]="{'dp-color-red': vehicle.WarrantyDate <= 30}">{{ vehicle.WarrantyDate | date:'MM/dd/yyyy' }}</span>
          </ng-template>
        </p-column>
        <p-column field="Type" header="Type" [style]="{'width':'80px'}"></p-column>
        <p-column field="Trailer" header="Trailer" [style]="{'width':'80px'}"></p-column>
        <p-column field="TyreType" header="Tyre Type" [style]="{'width':'80px'}"></p-column>
      </p-dataTable>
    </div>
  </div>
</div>


