<p-dialog header="Create New Load" [width]="420" [modal]="true" [responsive]="true" [resizable]="false" [(visible)]="display">
  <div class="dp-form-container">
    <form (ngSubmit)="onSubmit()" #formLoadIssue="ngForm" novalidate>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="inputDescription">Description</label>
            <input id="inputDescription" name="inputDescription" type="text" class="form-control" [(ngModel)]="loadIssue.Description" required />
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-12">
          <button type="submit" [disabled]="!formLoadIssue.form.valid" class="dpl-btn dpl-btn-lg pull-right dp-margin-left">Create Load Issue</button>
          <button type="button" (click)="display = false;" class="dpl-btn dpl-btn-lg pull-right">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</p-dialog>

