<div class="dp-details">
  <form (ngSubmit)="onSubmit()" #serviceForm="ngForm" novalidate>
    <!--<sticky [sticky-zIndex]="500000000" style="width: 100%;">
      <div class="row dp-title">
        <div class="col-sm-6" style="padding:5px 10px;">
          <h1>Service details</h1>
        </div>
        <div class="col-sm-6" style="padding:5px 10px;">
          <button type="submit" [disabled]="!serviceForm.form.valid" class="btn btn-default pull-right dp-margin-left">Save service details</button>
          <a class="btn btn-default pull-right" [routerLink]="['/services']">Cancel</a>
        </div>
      </div>
    </sticky>-->
    <div class="details-header">
      <div class="row dp-title">
        <div class="col-sm-6" style="padding-top:10px; padding-left: 300px">
          <h1>Service Details</h1>
        </div>
        <div class="col-sm-6" style="padding-top:10px; padding-right: 50px">
          <button type="submit" [disabled]="!serviceForm.form.valid" class="btn btn-default pull-right dp-margin-left">Save service details</button>
          <a class="btn btn-default pull-right" routerLink="/console/maintenance/services">Cancel</a>
        </div>
      </div>
    </div>
    <div class="dp-content">
      <div class="row">
        <div class="col-sm-4 dp-header">
          <div>
            General information
          </div>
          <div class="hint">
            Please provide basic info about the service
          </div>
        </div>
        <div class="col-sm-8 dp-data">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputTruck">Truck</label><span class="required-tip">(required)</span><br />
                <dp-truck id="inputTruck" name="inputTruck" [(ngModel)]="serviceItem.TruckId" required></dp-truck>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputMileage">Mileage</label><span class="required-tip">(required)</span><br />
                <p-spinner id="inputMileage" name="inputMileage" [min]="0" [(ngModel)]="serviceItem.Mileage" required></p-spinner>
                <!--<input type="text" class="form-control" id="inputMileage" name="inputMileage" [(ngModel)]="serviceItem.Mileage" required/>-->
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputDate">Date</label><span class="required-tip">(required)</span><br />
                <p-calendar id="inputDate" name="inputDate" [(ngModel)]="serviceItem.Date" dateFormat="mm/dd/yy" showIcon="true" required [monthNavigator]="true" [yearNavigator]="true" yearRange="1980:2050"></p-calendar>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-4 dp-header">
          <div>
            Maintainance details
          </div>
          <div class="hint">
            Maintainance details
          </div>
        </div>
        <div class="col-sm-8 dp-data">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputPart">Part</label>
                <input type="text" class="form-control" id="inputPart" name="inputPart" [(ngModel)]="serviceItem.Part" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputLocation">Location</label>
                <input type="text" class="form-control" id="inputLocation" name="inputLocation" [(ngModel)]="serviceItem.Location" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputJob">Job</label>
                <input type="text" class="form-control" id="inputJob" name="inputJob" [(ngModel)]="serviceItem.Job" />
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="inputCost">Cost</label><br />
                <input id="inputCost" name="inputCost" class="form-control" currencyMask [(ngModel)]="serviceItem.Cost" />
                <!--<p-spinner name="inputCost" size="30" [(ngModel)]="serviceItem.Cost"></p-spinner>-->

              </div>
            </div>
          </div>
        </div>
      </div>

      <hr />
      <div class="row">
        <div class="col-sm-4 dp-header">
          <div>
            Warranty and schedule
          </div>
          <div class="hint">
            Warranty and schedule information
          </div>
        </div>

        <div class="col-sm-8 dp-data">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputWarrantyExpDate">Warranty Expiry Date</label><br />
                <p-calendar id="inputWarrantyExpDate" name="inputWarrantyExpDate" [(ngModel)]="serviceItem.WarrantyExpDate" dateFormat="mm/dd/yy" showIcon="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1980:2100"></p-calendar>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputScheduledServiceDate">Scheduled Service Date</label><br />
                <p-calendar id="inputScheduledServiceDate" name="inputScheduledServiceDate" [(ngModel)]="serviceItem.ScheduledServiceDate" dateFormat="mm/dd/yy" showIcon="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1980:2100"></p-calendar>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputDescription">Description</label>
                <textarea rows="3" type="text" class="form-control" id="inputDescription" name="inputDescription" [(ngModel)]="serviceItem.Description"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<dp-loader></dp-loader>
<dp-messages></dp-messages>
