:host {
  margin-bottom: 10px;
  display: block;

  .planner-driver {
    width: 200px;
    text-align: right;
    margin-right:10px;
  }
  .planner-item {
    .planner-item-line {
      height:2px;
      width: 5px;
      background-color: lawngreen;
    }

    .planner-item-node {
      height:16px;
      width: 16px;
      border-radius: 8px;
    }

    .planner-item-node-free {
      background-color: lawngreen;
    }

    .planner-item-node-busy {
      background-color: red;
    }
  }
}
