<div fxLayout="row" fxLayoutAlign="center">
  <span class="planner-driver">{{driver.DisplayName}}</span>
  <div *ngFor="let item of points" fxLayout="column" fxLayoutAlign="space-around center">
    <div fxLayout="row" fxLayoutAlign="space-around center" class="planner-item">
      <div class="planner-item-line"></div>
      <div class="planner-item-node" [ngClass]="{'planner-item-node-free': item.LoadPoints.length == 0, 'planner-item-node-busy': item.LoadPoints.length > 0}" pTooltip="{{item.LoadPoints.length > 0 ? item.LoadPoints[0].Location : 'Driver free'}}"></div>
      <div class="planner-item-line"></div>
    </div>
  </div>
</div>
