<div class="dp-details">
  <form (ngSubmit)="onSubmit()" #clientForm="ngForm" novalidate>
    <!--<sticky [sticky-zIndex]="500000000" style="width: 100%;">
      <div class="row dp-title">
        <div class="col-sm-6" style="padding:5px 10px;">
          <h1>Company details</h1>
        </div>
        <div class="col-sm-6" style="padding:5px 10px;">
          <button type="submit" [disabled]="!clientForm.form.valid" class="btn btn-default pull-right dp-margin-left">Save client details</button>
          <a class="btn btn-default pull-right" [routerLink]="['/companies']">Cancel</a>
        </div>
      </div>
    </sticky>-->
    <div class="details-header">
      <div class="row dp-title">
        <div class="col-sm-6" style="padding-top:10px; padding-left: 300px">
          <h1>Company Details</h1>
        </div>
        <div class="col-sm-6" style="padding-top:10px; padding-right: 50px">
          <button type="submit" [disabled]="!clientForm.form.valid" class="btn btn-default pull-right dp-margin-left">Save company details</button>
          <a class="btn btn-default pull-right" routerLink="/console/administration/companies">Cancel</a>
        </div>
      </div>
    </div>
    <div class="dp-content">
      <div class="row">
        <div class="col-sm-4 dp-header">
          <div>
            General information
          </div>
          <div class="hint">
            Please provide basic info about the company
          </div>
        </div>
        <div class="col-sm-8 dp-data">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputName">Name</label><span class="required-tip">(required)</span>
                <input type="text" class="form-control" id="inputName" name="inputName" [(ngModel)]="companyItem.Name" required />
              </div>
            </div>

            <div class="col-sm-6" style="padding-top:30px;">
              <input type="checkbox" name="chkIsActive" id="chkIsActive" class="css-checkbox" [(ngModel)]="companyItem.IsActive" />
              <label for="chkIsActive" class="css-label">Is Active</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputMotorCarrierNumber">Motor Carrier Number</label>
                <input type="text" class="form-control" id="inputMotorCarrierNumber" name="inputMotorCarrierNumber" [(ngModel)]="companyItem.MotorCarrierNumber" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputNextInvoiceNumber">Next Invoice Number</label><span class="required-tip">(required)</span>
                <input type="text" class="form-control" id="inputNextInvoiceNumber" name="inputNextInvoiceNumber" [(ngModel)]="companyItem.NextInvoiceNumber" required/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputBusinessNumber">Business Number</label>
                <input type="text" class="form-control" id="inputBusinessNumber" name="inputBusinessNumber" [(ngModel)]="companyItem.BusinessNumber" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputEIN">EIN</label>
                <input type="text" class="form-control" id="inputEIN" name="inputEIN" [(ngModel)]="companyItem.EIN" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputDomain">Domain</label>
                <input type="text" class="form-control" id="inputDomain" name="inputDomain" [(ngModel)]="companyItem.Domain" />
              </div>
            </div>
            <div class="col-sm-6">
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-4 dp-header">
          <div>
            Address info
          </div>
          <div class="hint">
            Address information
          </div>
        </div>
        <div class="col-sm-8 dp-data">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="inputAddress" name="inputAddress" [(ngModel)]="companyItem.Address" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputAddress1">Alternate Address</label>
                <input type="text" class="form-control" id="inputAddress1" name="inputAddress1" [(ngModel)]="companyItem.Address1" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity" name="inputCity" [(ngModel)]="companyItem.City" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputState">State</label><br />
                <dp-state id="inputState" name="inputState" [(ngModel)]="companyItem.StateId"></dp-state>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputZipCode">Zip code</label>
                <input type="text" class="form-control" id="inputZipCode" name="inputZipCode" [(ngModel)]="companyItem.ZipCode" />
              </div>
            </div>
            <div class="col-sm-6">
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-4 dp-header">
          <div>
            Contact information
          </div>
          <div class="hint">
            Contact information
          </div>
        </div>

        <div class="col-sm-8 dp-data">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputPhoneNumber">Phone Number</label>
                <input type="text" class="form-control" id="inputPhoneNumber" name="inputPhoneNumber" [(ngModel)]="companyItem.PhoneNumber" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputAlternatePhoneNumber">Alternate Phone Number</label>
                <input type="text" class="form-control" id="inputAlternatePhoneNumber" name="inputAlternatePhoneNumber" [(ngModel)]="companyItem.AlternatePhoneNumber" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputFax">Fax</label>
                <input type="text" class="form-control" id="inputFax" name="inputFax" [(ngModel)]="companyItem.Fax" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="text" class="form-control" id="inputEmail" name="inputEmail" [(ngModel)]="companyItem.Email" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-4 dp-header">
          <div>
            Notes
          </div>
          <div class="hint">
            Additional information about the company
          </div>
        </div>
        <div class="col-sm-8 dp-data">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputNotes">Notes</label>
                <textarea type="text" class="form-control" id="inputNotes" name="inputNotes" [(ngModel)]="companyItem.Notes"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<dp-loader></dp-loader>
<dp-messages></dp-messages>
