<div class="dp-container">
  <div class="row">
    <div class="col-sm-8">
      <div class="row dp-title">
        <div class="col-sm-6" style="padding:5px 10px;">
          <h1>Partners/Vendors</h1>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <a class="btn btn-default pull-right" routerLink="/console/resources/partners/0">
        <i class="fa fa-plus"></i> Add New Partner/Vendor
      </a>
    </div>
  </div>
  <form (ngSubmit)="onSubmitSearch()" #filterForm="ngForm" novalidate>
    <div class="row">
      <div class="col-sm-3">
        <dp-client-type name="inputClientType" [(ngModel)]="filter.ClientType"></dp-client-type>
      </div>
      <div class="col-sm-3">
        <input name="inputSearchParam" type="text" class="form-control" placeholder="First name/Last name..." [(ngModel)]="filter.SearchParam" />
      </div>
      <div class="col-sm-3">
        <button type="submit" class="dpl-btn dpl-btn-lg">Search</button>
        <button type="button" (click)="resetFilter()" class="dpl-btn dpl-btn-lg">Reset</button>
      </div>
    </div>
  </form>
  <br />
  <div class="row">
    <div class="col-sm-12">
      <p-dataTable [value]="clients" [responsive]="true"
                   [rows]="filter.PageSize" [emptyMessage]="emptyMsg"
                   [paginator]="true" [totalRecords]="totalItems" pageLinks="5" [rowsPerPageOptions]="[10,15,20]"
                   [lazy]="true" (onLazyLoad)="loadData($event)">
        <p-column [style]="{'width':'45px'}">
          <ng-template let-client="rowData" pTemplate="body">
            <a routerLink="/console/resources/partners/{{client.Id}}" pButton pTooltip="Partner details" icon="fa-edit"></a>
          </ng-template>
        </p-column>
        <p-column field="DisplayName" header="Display Name"></p-column>
        <p-column field="Name" header="Name"></p-column>
        <p-column field="City" header="City"></p-column>
        <p-column field="Email" header="Email"></p-column>
        <p-column field="IsActive" header="Active" [style]="{'width':'120px'}">
          <ng-template let-client="rowData" pTemplate="body">
            <i *ngIf="client.IsActive == true" style="color: lawngreen;" class="fa fa-check" aria-hidden="true"></i>
            <i *ngIf="client.IsActive == false" style="color: red" class="fa fa-times" aria-hidden="true"></i>
          </ng-template>
        </p-column>
        <!--<p-header>
          <div style="text-align:left">
            <p-multiSelect [options]="columnOptions" [(ngModel)]="selectedColumns"></p-multiSelect>
          </div>
        </p-header>
        <p-column [style]="{'width':'45px'}">
          <ng-template let-client="rowData" pTemplate="body">
            <a routerLink="/console/resources/partners/{{client.Id}}" pButton pTooltip="Partner details" icon="fa-edit"></a>
          </ng-template>
        </p-column>
        <p-column *ngFor="let col of selectedColumns" [field]="col.field" [header]="col.header"></p-column>-->
      </p-dataTable>
    </div>
  </div>
</div>
<dp-loader></dp-loader>
<dp-messages></dp-messages>
