<p-dialog header="Assign Load(s)" [(visible)]="display" modal="modal" width="1024" [responsive]="true" [resizable]="false">
  <div class="dp-container">
    <div class="row">
      <div class="col-sm-8">
        <div class="row dp-title">
          <div class="col-sm-6" style="padding:5px 10px;">
            <h1>Loads</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <form (ngSubmit)="onSubmitSearch()" #filterForm="ngForm" novalidate>
      <div class="row">
        <div class="col-sm-6">
          <input name="inputSearchParam" type="text" class="form-control" placeholder="Load Number..." [(ngModel)]="filter.SearchParam" />
        </div>
        <div class="col-sm-6">
          <button type="submit" class="dpl-btn dpl-btn-lg">Search</button>
          <button type="button" (click)="resetFilter()" class="dpl-btn dpl-btn-lg">Reset</button>
        </div>
      </div>
    </form>
    <br />
    <div class="row">
      <div class="col-sm-12">
        <p-dataTable #dataTable [value]="items" [responsive]="true" [scrollable]="true"  [(selection)]="loadItems"
                     [rows]="filter.PageSize" [emptyMessage]="emptyMsg" [metaKeySelection]="false" selectionMode="multiple"
                     [paginator]="true" [totalRecords]="totalItems" [pageLinks]="5" [rowsPerPageOptions]="[10,20,30]"
                     [lazy]="true" (onLazyLoad)="loadData($event)">
          <!--<p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>-->
          <p-column styleClass="checkbox-column">
            <ng-template let-item="rowData" pTemplate="body">
              <i class="fa fa-check-square"
                 [ngClass]="{'fa-check-square': isLoadSelected(item.Id), 'fa-square-o': !isLoadSelected(item.Id)}"></i>
            </ng-template>
          </p-column>
          <p-column field="LoadNumber" header="Load Number"></p-column>
          <p-column field="LocationStart" header="From"></p-column>
          <p-column field="LocationEnd" header="To"></p-column>
          <p-column field="FromDate" header="Date From" [style]="{'width':'120px'}">
            <ng-template let-load="rowData" pTemplate="body">
              {{ load.FromDate | date:'MM/dd/yyyy' }}
            </ng-template>
          </p-column>
          <p-column field="ToDate" header="Date To" [style]="{'width':'120px'}">
            <ng-template let-load="rowData" pTemplate="body">
              {{ load.ToDate | date:'MM/dd/yyyy' }}
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-12">
        <button [disabled]="loadItems.length == 0" type="submit" class="dpl-btn dpl-btn-lg pull-right dp-margin-left" (click)="assign()">Assign</button>
        <button type="button" (click)="display=false" class="dpl-btn dpl-btn-lg pull-right">Cancel</button>
      </div>
    </div>
  </div>
  <dp-loader></dp-loader>
</p-dialog>
