<dp-load-point-item *ngIf="startingLoadPoint != null && tripId > 0" [loadPoint]="startingLoadPoint" [IsFinished]="IsFinished" (onEditLoadPoint)="onSelectLoadPoint($event)" (onLoadPointDeleted)="onStartingLoadPointDeleted()" [letter]="alphabets[0]" [loadId]="loadId" [tripId]="tripId"></dp-load-point-item>
<button *ngIf="startingLoadPoint == null && tripId > 0" type="button" [disabled]="IsFinished == true || loadId == 0" style="margin-bottom:5px;" class="dpl-btn" (click)="addStartingLoadPoint()">
  <i class="fa fa-plus"></i> Create Starting Load Point
</button>
<hr *ngIf="startingLoadPoint == null && tripId > 0">
<br>
<div class="row">
  <div class="col-sm-6">
    <h3>Load points</h3>
  </div>
  <div class="col-sm-6">
    <button type="button" [disabled]="IsFinished == true || loadId == 0" style="margin-bottom:5px;" class="dpl-btn pull-right" (click)="addLoadPoint()">
      <i class="fa fa-plus"></i> Create New Load Point
    </button>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="list-group" dnd-sortable-container [sortableData]="loadPoints">
      <div *ngFor="let item of loadPoints; let i = index" (onDropSuccess)="onDropLoadPoint($event, i)" [dragEnabled]="item.OrderNumber > 0 && IsFinished == false" [dragData]="item" dnd-sortable [sortableIndex]="i">
        <ng-container *ngIf="item.OrderNumber > 0">
          <dp-load-point-item [loadPoint]="item" [IsFinished]="IsFinished" (onEditLoadPoint)="onSelectLoadPoint($event)" (onLoadPointDeleted)="onLoadPointDeleted()" [letter]="alphabets[i]" [loadId]="loadId" [tripId]="tripId"></dp-load-point-item>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<br />
<dp-load-point-details #loadPointDetails (onLoadPointCreated)="onLoadPointCreated($event)" (onLoadPointEdited)="onLoadPointEdited($event)"></dp-load-point-details>

