:host {
  .dp-bold-italic {
    font-style: italic;
    font-weight: bold;
    font-size: 0.9em;
  }

  .dp-font-green {
    color: #00C853;
  }

  .dp-font-red {
    color: red;
  }

  .dp-active-load {
    background-color: #b3daff;
  }

  .dp-selected-load-point {
    border-left: 4px solid green;
    /*background: #9498A0;*/
  }

  .list-group-item {
    padding:10px 5px;
  }
}
