<div class="dp-details">
  <form (ngSubmit)="onSubmitDriver()" #driverForm="ngForm" novalidate>
    <!--<sticky [sticky-zIndex]="500000000" style="width: 100%;">
        <div class="row dp-title">
            <div class="col-sm-6" style="padding:5px 10px;">
                <h1>Driver details</h1>
            </div>
            <div class="col-sm-6" style="padding:5px 10px;">
                <button type="submit" [disabled]="!driverForm.form.valid" class="btn btn-default pull-right dp-margin-left">Save driver details</button>
                <a class="btn btn-default pull-right" [routerLink]="['/drivers']">Cancel</a>
            </div>
        </div>
    </sticky>-->
    <div class="details-header">
      <div class="row dp-title">
        <div class="col-sm-6" style="padding-top:10px; padding-left: 300px">
          <h5>Driver details</h5>
        </div>
        <div class="col-sm-6" style="padding-top:10px; padding-right: 50px">
          <button type="submit" [disabled]="!driverForm.form.valid" class="btn btn-primary pull-right dp-margin-left">Save driver details</button>
          <a class="btn btn-default pull-right" [routerLink]="['/drivers']">Cancel</a>
        </div>
      </div>
    </div>
    <div class="dp-content">
      <div class="row">
        <div class="col-sm-3 dp-header">
          <div>
            Driver information
          </div>
          <div class="hint">
            Please provide personal information about driver
          </div>
        </div>
        <div class="col-sm-9 dp-data">
          <div class="row">
            <div class="col-sm-12 col-md-3" style="padding-bottom:30px; padding-top: 10px;">
              <input type="checkbox" name="chkIsActive" id="chkIsActive" class="css-checkbox" [(ngModel)]="driverItem.IsActive" />
              <label for="chkIsActive" class="css-label">Is Active</label>
            </div>
            <div class="col-sm-12 col-md-5">
              <div class="form-group">
                <label for="inputCompany">Company</label><span class="required-tip">(required)</span><br />
                <dp-company id="inputCompany" name="inputCompany" [(ngModel)]="driverItem.CompanyId" required></dp-company>
                <!--<input type="text" class="form-control" id="inputState" name="inputState" [(ngModel)]="driverItem.State" />-->
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="form-group">
                <label for="inputDriverID">Driver ID</label><span class="required-tip">(required)</span>
                <input [disabled]="driverItem.Id > 0" type="text" class="form-control" id="inputDriverID" name="inputDriverID" [(ngModel)]="driverItem.DriverID" required />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <input type="checkbox" name="chkPreEmploymentDrugTest" id="chkPreEmploymentDrugTest" class="css-checkbox" [(ngModel)]="driverItem.PreEmploymentDrugTest" />
                <label for="chkPreEmploymentDrugTest" class="css-label chk-margin-top">Drug Test</label>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="inputPreEmploymentDrugTestDate">Drug Test Date</label><br />
                <p-calendar id="inputPreEmploymentDrugTestDate" name="inputPreEmploymentDrugTestDate" [(ngModel)]="driverItem.PreEmploymentDrugTestDate" dateFormat="mm/dd/yy" showIcon="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2020"></p-calendar>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="inputHireDate">Hire Date</label><br />
                <p-calendar id="inputHireDate" name="inputHireDate" [(ngModel)]="driverItem.HireDate" dateFormat="mm/dd/yy" showIcon="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1980:2020"></p-calendar>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="inputTerminationDate">Termination Date</label><br />
                <p-calendar id="inputTerminationDate" name="inputTerminationDate" [(ngModel)]="driverItem.TerminationDate" dateFormat="mm/dd/yy" showIcon="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1980:2050"></p-calendar>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5">
              <div class="form-group">
                <label for="inputFuelCard">Fuel Card</label>
                <input type="text" class="form-control" id="inputFuelCard" name="inputFuelCard" [(ngModel)]="driverItem.FuelCard" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dp-content">
      <div class="row">
        <div class="col-sm-3 dp-header">
          <div>
            Personal
          </div>
          <div class="hint">
            Please provide personal information about driver
          </div>
        </div>
        <div class="col-sm-9 dp-data">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="inputFirstName">First Name</label><span class="required-tip">(required)</span>
                <input type="text" class="form-control" id="inputFirstName" name="inputFirstName" [(ngModel)]="driverItem.FirstName" (ngModelChange)="onFirstLastNameChanged()" required/>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="inputLastName">Last Name</label><span class="required-tip">(required)</span>
                <input type="text" class="form-control" id="inputLastName" name="inputLastName" [(ngModel)]="driverItem.LastName" (ngModelChange)="onFirstLastNameChanged()" required/>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="inputMiddleName">Middle Name</label>
                <input type="text" class="form-control" id="inputMiddleName" name="inputMiddleName" [(ngModel)]="driverItem.MiddleName" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="inputDisplayName">Display Name</label><span class="required-tip">(required)</span>
                <input type="text" class="form-control" id="inputDisplayName" name="inputDisplayName" [(ngModel)]="driverItem.DisplayName" required/>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="inputDOB">Date of Birth</label><span class="required-tip">(required)</span><br />
                <p-calendar id="inputDOB" name="inputDOB" [(ngModel)]="driverItem.DOB" dateFormat="mm/dd/yy" showIcon="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2020" required></p-calendar>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputSSN">SSN</label><span class="required-tip">(required)</span>
                <input type="text" class="form-control" id="inputSSN" name="inputSSN" [(ngModel)]="driverItem.SSN" required/>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputFEIN">FEIN</label><span class="required-tip">(required)</span>
                <input type="text" class="form-control" id="inputFEIN" name="inputFEIN" [(ngModel)]="driverItem.FEIN" required/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputAddress1">Address 1</label>
                <input type="text" class="form-control" id="inputAddress1" name="inputAddress1" [(ngModel)]="driverItem.Address1" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputAddress2">Address 2</label>
                <input type="text" class="form-control" id="inputAddress2" name="inputAddress2" [(ngModel)]="driverItem.Address2" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity" name="inputCity" [(ngModel)]="driverItem.City" />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="inputState">State</label><br />
                <dp-state id="inputState" name="inputState" [(ngModel)]="driverItem.StateId"></dp-state>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="inputZipCode">Zip Code</label>
                <input type="text" class="form-control" id="inputZipCode" name="inputZipCode" [(ngModel)]="driverItem.ZipCode" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3 dp-header">
          <div>
            Communication
          </div>
          <div class="hint">
            Please provide communication info
          </div>
        </div>
        <div class="col-sm-9 dp-data">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputCellPhone">Cell Phone</label>
                <input type="text" class="form-control" id="inputCellPhone" name="inputCellPhone" [(ngModel)]="driverItem.CellPhone" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputCellPhoneCarrier">Cell Phone Carrier</label>
                <input type="text" class="form-control" id="inputCellPhoneCarrier" name="inputCellPhoneCarrier" [(ngModel)]="driverItem.CellPhoneCarrier" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputHomePhone">Home Phone</label>
                <input type="text" class="form-control" id="inputHomePhone" name="inputHomePhone" [(ngModel)]="driverItem.HomePhone" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="text" class="form-control" id="inputEmail" name="inputEmail" [(ngModel)]="driverItem.Email" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputEmergencyContactName">Emergency Contact Name</label>
                <input type="text" class="form-control" id="inputEmergencyContactName" name="inputEmergencyContactName" [(ngModel)]="driverItem.EmergencyContactName" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputEmergencyContactPhone">Emergency Contact Phone</label>
                <input type="text" class="form-control" id="inputEmergencyContactPhone" name="inputEmergencyContactPhone" [(ngModel)]="driverItem.EmergencyContactPhone" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputEmergencyContactRelationship">Emergency Contact Relationship</label>
                <input type="text" class="form-control" id="inputEmergencyContactRelationship" name="inputEmergencyContactRelationship" [(ngModel)]="driverItem.Relationship" />
              </div>
            </div>
            <div class="col-sm-6">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <input type="checkbox" name="chkSendSMS" id="chkSendSMS" class="css-checkbox" [(ngModel)]="driverItem.SendSMS" />
              <label for="chkSendSMS" class="css-label">Send SMS</label>
            </div>
            <div class="col-sm-6">
              <input type="checkbox" name="chkSendMail" id="chkSendMail" class="css-checkbox" [(ngModel)]="driverItem.SendEMail" />
              <label for="chkSendMail" class="css-label">Send Email</label>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3 dp-header">
          <div>
            Driving
          </div>
          <div class="hint">
            Provide basic information about driving
          </div>
        </div>
        <div class="col-sm-9 dp-data">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputCDL">CDL</label>
                <input type="text" class="form-control" id="inputCDL" name="inputCDL" [(ngModel)]="driverItem.CDL" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputCDLExpirationDate">CDL Expiration Date</label><br />
                <p-calendar id="inputCDLExpirationDate" name="inputCDLExpirationDate" [(ngModel)]="driverItem.CDLExpirationDate" dateFormat="mm/dd/yy" showIcon="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050"></p-calendar>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputCDLClass">CDL Class</label><br />
                <input type="text" class="form-control" id="inputCDLClass" name="inputCDLClass" [(ngModel)]="driverItem.CDLClass" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputCDLState">CDL State</label><br />
                <dp-state id="inputCDLState" name="inputCDLState" [(ngModel)]="driverItem.CDLStateId"></dp-state>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputCDLEndorsement">CDL Endorsement</label><br />
                <input type="text" class="form-control" id="inputCDLEndorsement" name="inputCDLEndorsement" [(ngModel)]="driverItem.CDLEndorsement" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputYearsOfExperience">Years Of Experience</label><br />
                <input type="text" class="form-control" id="inputYearsOfExperience" name="inputYearsOfExperience" [(ngModel)]="driverItem.YearsOfEprience" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <input type="checkbox" name="chkPreEmploymentDrugMVR" id="chkPreEmploymentDrugMVR" class="css-checkbox" [(ngModel)]="driverItem.PreEmploymentDrugMVR" />
                <label for="chkPreEmploymentDrugMVR" class="css-label chk-margin-top">MVR</label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputPreEmploymentDrugMVRDate">MVR Date</label><br />
                <p-calendar id="inputPreEmploymentDrugMVRDate" name="inputPreEmploymentDrugMVRDate" [(ngModel)]="driverItem.PreEmploymentDrugMVRDate" dateFormat="mm/dd/yy" showIcon="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2020"></p-calendar>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputMedicalExpirationDate">Medical Expiration Date</label><br />
                <p-calendar id="inputMedicalExpirationDate" name="inputMedicalExpirationDate" [(ngModel)]="driverItem.MedicalExpirationDate" dateFormat="mm/dd/yy" showIcon="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100"></p-calendar>
              </div>
            </div>
            <div class="col-sm-6">

            </div>
          </div>
        </div>
      </div>

      <hr />
      <div class="row">
        <div class="col-sm-3 dp-header">
          <div>
            Billing data
          </div>
          <div class="hint">
            Detailed billing information
          </div>
        </div>
        <div class="col-sm-9 dp-data">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="inputPayMethod">Pay Method</label><br />
                <p-dropdown [autoWidth]="true" id="inputPayMethod" name="inputPayMethod" [options]="payMethods" [(ngModel)]="driverItem.PayMathod"></p-dropdown>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="inputRateType">Rate Type</label><br />
                <p-dropdown [autoWidth]="true" id="inputRateType" name="inputRateType" [options]="rateTypes" [(ngModel)]="driverItem.RateType"></p-dropdown>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <dp-rate-value name="inputRateAmountLoaded" title="Rate Amount Loaded" [rateType]="driverItem.RateType" [(ngModel)]="driverItem.RateAmountLoaded"></dp-rate-value>
              <!--<div class="form-group">
                  <label for="inputRateAmountLoaded">Rate Amount Loaded</label>
                  <input id="inputRateAmountLoaded" name="inputRateAmountLoaded" class="form-control" currencyMask [(ngModel)]="driverItem.RateAmountLoaded" />
              </div>-->
            </div>
            <div class="col-sm-4">
              <dp-rate-value name="inputRateAmountEmpty" title="Rate Amount Empty" [rateType]="driverItem.RateType" [(ngModel)]="driverItem.RateAmountEmpty"></dp-rate-value>
              <!--<div class="form-group">
                  <label for="inputRateAmountEmpty">Rate Amount Empty</label>
                  <input *ngIf="driverItem.RateType != 1" id="inputRateAmountEmpty" name="inputRateAmountEmpty" class="form-control" currencyMask [(ngModel)]="driverItem.RateAmountEmpty" />
                  <p-spinner *ngIf="driverItem.RateType == 1" id="inputRateAmountEmptyPercentage" name="inputRateAmountEmptyPercentage" [(ngModel)]="driverItem.RateAmountEmpty"></p-spinner>
              </div>-->
            </div>
            <div class="col-sm-4">
              <dp-rate-value name="inputBobtailRate" title="Rate Amount Bobtail" [rateType]="driverItem.RateType" [(ngModel)]="driverItem.RateAmountBobtail"></dp-rate-value>
              <!--<div class="form-group">
                  <label for="inputBobtailRate">Rate Amount Bobtail</label>
                  <input id="inputBobtailRate" name="inputBobtailRate" class="form-control" currencyMask [(ngModel)]="driverItem.RateAmountBobtail" />
              </div>-->
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <dp-rate-value name="inputTeamRateAmountLoaded" title="Team Rate Amount Loaded" [rateType]="driverItem.RateType" [(ngModel)]="driverItem.TeamRateAmountLoaded"></dp-rate-value>
              <!--<div class="form-group">
                  <label for="inputTeamRateAmountLoaded">Team Rate Amount Loaded</label>
                  <input id="inputTeamRateAmountLoaded" name="inputTeamRateAmountLoaded" class="form-control" currencyMask [(ngModel)]="driverItem.TeamRateAmountLoaded" />
              </div>-->
            </div>
            <div class="col-sm-4">
              <dp-rate-value name="inputTeamRateAmountEmpty" title="Team Rate Amount Empty" [rateType]="driverItem.RateType" [(ngModel)]="driverItem.TeamRateAmountEmpty"></dp-rate-value>
              <!--<div class="form-group">
                  <label for="inputTeamRateAmountEmpty">Team Rate Amount Empty</label>
                  <input id="inputTeamRateAmountEmpty" name="inputTeamRateAmountEmpty" class="form-control" currencyMask [(ngModel)]="driverItem.TeamRateAmountEmpty" />
              </div>-->
            </div>
            <div class="col-sm-4">
              <dp-rate-value name="inputTeamBobtailRate" title="Team Rate Amount Bobtail" [rateType]="driverItem.RateType" [(ngModel)]="driverItem.TeamRateAmountBobtail"></dp-rate-value>
              <!--<div class="form-group">
                  <label for="inputTeamBobtailRate">Team Rate Amount Bobtail</label>
                  <input id="inputTeamBobtailRate" name="inputTeamBobtailRate" class="form-control" currencyMask [(ngModel)]="driverItem.TeamRateAmountBobtail" />
              </div>-->
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3 dp-header">
          <div>
            Documents
          </div>
          <div class="hint">
            Upload documents
          </div>
        </div>
        <div class="col-sm-9 dp-data">

          <div class="row">

            <div class="col-sm-8">
              <div class="form-group">
                <dp-upload [uploadTarget]="uploadTarget.Driver" [uploadedFiles]="driverItem.Files" [itemId]="driverItem.Id"></dp-upload>
                <!--<label for="inputFax">Fax</label>
                <input type="text" class="form-control" id="inputFax" name="inputFax" [(ngModel)]="driverItem.Fax" />-->
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </form>
</div>
<dp-loader></dp-loader>
<dp-messages></dp-messages>
<p-confirmDialog header="Confirm delete" icon="fa fa-question-circle" width="425"></p-confirmDialog>
