<div class="dp-upload">
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <label for="inputType">Type</label><br />
        <p-dropdown id="inputType" name="inputType" [autoWidth]="uploadTarget == 1" [options]="documentTypes" [(ngModel)]="documentType"></p-dropdown>
      </div>
    </div>
  </div>
  <p-fileUpload #fileUploader chooseLabel="Select File(s)" name="myfile[]" accept="image/*,.pdf" url="{{baseUrl}}{{specificUrl}}/upload/{{documentType}}/{{itemId}}" multiple="multiple"  (onUpload)="onUpload($event)" (onSelect)="onSelectFiles($event)">
    <ng-template let-file pTemplate="file">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <img [src]="file.objectURL" [width]="40" />
          {{file.name | truncate: 30 : '.'}}
        </div>
        <button class="btn btn-link" type="button" style="color: red;" (click)="removeFile(file)">
          <span class="fa fa-remove"></span>
        </button>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="dp-uploaded-files">
        <h4>Uploaded Files</h4>
        <hr />
        <div class="row" *ngFor="let file of uploadedFiles">
          <div class="col-sm-12" style="border-bottom: 1px solid white;">
            <!--<img src="{{baseUrl}}dispatch/file/{{file.Id}}" [width]="40" />-->
            {{file.OriginalFileName | truncate: 30 : '.'}}
            <br />
            <!--{{file.DocumentType == 0 ? 'BOL' : (file.DocumentType == 1 ? 'Confirmation' : (file.DocumentType == 2 ? 'Receipts' : 'Other'))}}-->{{getDocumentTypeName(file.DocumentType)}} <span style="font-size: 9px;"> ({{file.UploadDate | date:'MM/dd/yyyy'}})</span>
            <span>
                            <button type="button" pTooltip="Delete" style="color: red;" class="btn btn-link pull-right" (click)="deleteFileFromServer(file)">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                            <a pTooltip="Download" class="btn btn-link pull-right" href="{{baseUrl}}{{specificUrl}}/files/{{file.Id}}/download" target="_blank">
                                <i class="fa fa-download" aria-hidden="true"></i>
                            </a>
                            <a *ngIf="file.Extension === '.pdf'" class="btn btn-link pull-right" href="{{baseUrl}}{{specificUrl}}/files/preview/{{file.Id}}" target="_blank">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </a>
                            <button type="button" *ngIf="file.Extension !== '.pdf'" class="btn btn-link pull-right" (click)="previewFile(file)">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </span>
          </div>
        </div>
      </div>
    </ng-template>
  </p-fileUpload>
  <p-dialog header="Image preview" modal="modal" [width]="850" [closable]="true" [responsive]="true" [resizable]="false" [(visible)]="displayPreview">
    <img *ngIf="fileId > 0" height="600px" width="800px" src="{{baseUrl}}loads/files/preview/{{fileId}}" alt="Galleria 1" />
    <p-footer>
      <button pButton type="button" class="ui-button-danger" (click)="displayPreview = false;" label="Close"></button>
    </p-footer>
  </p-dialog>
</div>

