dp-upload {
  .ui-fileupload-content {
    padding: 0;
  }
  .dp-uploaded-files {
    padding: 5px;
    background-color: lightgray;
    border: 1px solid gray;
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .ui-fileupload-files {
    display: block;
    padding:5px;
  }

  .dp-uploaded-files::-webkit-scrollbar {
    width: 12px;
  }

  .dp-uploaded-files::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(51, 102, 153,0.3);
    border-radius: 10px;
  }

  .dp-uploaded-files::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(51, 102, 153,0.9);
    background: white;
  }
}