<div class="row">
  <div class="col-sm-12">
    <form (ngSubmit)="onSubmitEditLoad()" #editLoadForm="ngForm" novalidate>
      <div class="row">
        <div class="col-sm-12">
          <p-tabView>
            <p-tabPanel header="General">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Load #: {{loadItem.LoadNumber}}</label>
                  </div>
                </div>
                <div class="col-sm-6">
                  <input type="checkbox" name="chkIsLoadActive" id="chkIsLoadActive" class="css-checkbox" [(ngModel)]="loadItem.IsActive" />
                  <label for="chkIsLoadActive" class="css-label">Active</label>
                </div>
              </div>
              <!--<div class="row">
                  <div class="col-sm-6" style="padding-top:30px;">
                      <input type="checkbox" id="chkPaidInFull" name="chkPaidInFull" class="css-checkbox" [(ngModel)]="loadItem.Invoice.PaidInFull" />
                      <label for="chkPaidInFull" class="css-label">Paid In Full</label>
                  </div>
                  <div class="col-sm-6" style="padding-top:30px;">
                      <input type="checkbox" id="chkPendingIssue" name="chkPendingIssue" class="css-checkbox" [(ngModel)]="loadItem.Invoice.PendingIssue" />
                      <label for="chkPendingIssue" class="css-label">Load Issue</label>
                  </div>
              </div>-->
              <div class="row">
                <div class="col-sm-12 col-lg-6">
                  <div class="form-group">
                    <label for="inputConfirmation">Conf #</label>
                    <input type="text" class="form-control" id="inputConfirmation" name="inputConfirmation" [(ngModel)]="loadItem.Confirmation" />
                  </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <div class="form-group">
                    <label for="inputBOL">BOL #</label>
                    <input type="text" class="form-control" id="inputBOL" name="inputBOL" [(ngModel)]="loadItem.BOL" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-lg-6">
                  <div class="form-group">
                    <label for="inputPO">PO #</label>
                    <input type="text" class="form-control" id="inputPO" name="inputPO" [(ngModel)]="loadItem.PO" />
                  </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <div class="form-group">
                    <label for="inputCommodity">Commodity</label>
                    <input type="text" class="form-control" id="inputCommodity" name="inputCommodity" [(ngModel)]="loadItem.Commodity" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-lg-6">
                  <div class="form-group">
                    <label for="inputWeight">Weight</label><br />
                    <p-spinner id="inputWeight" name="inputWeight" size="12" [(ngModel)]="loadItem.Weight"></p-spinner>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <div class="form-group">
                    <label for="inputQuantity">Quantity</label><br />
                    <p-spinner id="inputQuantity" name="inputQuantity" size="12" [(ngModel)]="loadItem.Quantity"></p-spinner>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-lg-6">
                  <div class="form-group">
                    <label for="inputSize">Size</label><br />
                    <p-spinner id="inputSize" name="inputSize" size="12" [(ngModel)]="loadItem.Size"></p-spinner>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <div class="form-group">
                    <label for="inputTemperature">Temperature</label><br />
                    <p-spinner id="inputTemperature" name="inputTemperature" size="12" [(ngModel)]="loadItem.Temperature"></p-spinner>
                  </div>
                </div>
              </div>
            </p-tabPanel>
            <p-tabPanel header="Internal">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="inputDispatcher">Dispatcher</label><br />
                    <dp-user id="inputDispatcher" name="inputDispatcher" [(ngModel)]="loadItem.DispatcherId"></dp-user>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="inputBookingDate">Booking Date</label><br />
                    <p-calendar id="inputBookingDate" name="inputBookingDate" [(ngModel)]="loadItem.BookingDate" dateFormat="mm/dd/yy" showIcon="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2020" [showTime]="true"></p-calendar>
                  </div>
                </div>
                <!--<div class="col-sm-12 col-lg-6">
                    <div class="form-group">
                        <label for="inputBookingTime">Booking Time</label><br />
                        <p-calendar name="inputBookingTime" [(ngModel)]="loadItem.BookingDate" [timeOnly]="true"></p-calendar>
                    </div>
                </div>-->
              </div>
            </p-tabPanel>
            <p-tabPanel header="Broker">
              <div class="row">
                <div class="col-sm-12 col-lg-6">
                  <div class="form-group">
                    <label for="inputBrokerage">Brokerage</label><br />
                    <dp-client id="inputBrokerage" name="inputBrokerage" [clientType]="3" (onClientSelected)="onBrokerageSelected($event)" [(ngModel)]="loadItem.BrokerageId"></dp-client>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <div class="form-group">
                    <label for="inputBroker">Broker</label><br />
                    <dp-broker id="inputBroker" name="inputBroker" (onBrokerSelected)="onBrokerSelected($event)" (onBrokerCreated)="onBrokerCreated($event)" [brokerageId]="loadItem.BrokerageId" [(ngModel)]="loadItem.BrokerId"></dp-broker>
                  </div>
                </div>
                <div *ngIf="broker != null && broker.Id > 0" class="col-sm-12 col-lg-6">
                  <div class="form-group">
                    <label for="inputBrokerPhoneNumber">Phone #</label>
                    <input id="inputBrokerPhoneNumber" name="inputBrokerPhoneNumber" type="text" class="form-control" [(ngModel)]="broker.PhoneNumber" />
                  </div>
                </div>
                <div *ngIf="broker != null && broker.Id > 0" class="col-sm-12 col-lg-6">
                  <div class="form-group">
                    <label for="inputBrokerFax">Fax</label>
                    <input id="inputBrokerFax" name="inputBrokerFax" type="text" class="form-control" [(ngModel)]="broker.Fax" />
                  </div>
                </div>
                <div *ngIf="broker != null && broker.Id > 0" class="col-sm-12">
                  <div class="form-group">
                    <label for="inputBrokerEmail">Email</label>
                    <input id="inputBrokerEmail" name="inputBrokerEmail" type="text" class="form-control" [(ngModel)]="broker.Email" />
                  </div>
                </div>
              </div>
              <div *ngIf="broker != null && broker.Id > 0" class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="inputBrokerRating">Rating: </label> {{broker.Rating}}
                  </div>
                </div>
              </div>
              <div *ngIf="broker != null && broker.Id > 0" class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="inputBrokerRating">Your Rating</label>
                    <p-rating id="inputBrokerRating" name="inputBrokerRating" [cancel]="false" [(ngModel)]="loadItem.BrokerRating"></p-rating>
                  </div>
                </div>
              </div>
            </p-tabPanel>
            <p-tabPanel header="Clients">
              <div class="row">
                <div class="col-sm-12 col-lg-6">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="inputShipper">Shipper</label>
                        <dp-client id="inputShipper" name="inputShipper" [clientType]="4" (onClientSelected)="onShipperSelected($event)" [(ngModel)]="loadItem.PartnerShipperId"></dp-client>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="inputShipperContact">Contact</label>
                        <input id="inputShipperContact" name="inputShipperContact" type="text" class="form-control" [(ngModel)]="shipper.ContactName" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="inputShipperPhone">Phone</label>
                        <input id="inputShipperPhone" name="inputShipperPhone" type="text" class="form-control" [(ngModel)]="shipper.PhoneNumber" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="inputShipperShippingNumber">Shipping #</label>
                        <input id="inputShipperShippingNumber" name="inputShipperShippingNumber" type="text" class="form-control" [(ngModel)]="loadItem.ShippingNumber"/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="inputShipperNote">Note</label>
                        <textarea id="inputShipperNote" name="inputShipperNote" type="text" class="form-control" [(ngModel)]="loadItem.ShippingNote"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="inputConsignee">Consignee</label>
                        <dp-client id="inputConsignee" name="inputConsignee" [clientType]="4" (onClientSelected)="onConsigneeSelected($event)" [(ngModel)]="loadItem.PartnerConsigneeId"></dp-client>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="inputConsigneeContact">Contact</label>
                        <input id="inputConsigneeContact" name="inputConsigneeContact" type="text" class="form-control" [(ngModel)]="consignee.ContactName"/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="inputConsigneePhone">Phone</label>
                        <input id="inputConsigneePhone" name="inputConsigneePhone" type="text" class="form-control" [(ngModel)]="consignee.PhoneNumber"/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="inputConsigneeShippingNumber">Delivery #</label>
                        <input id="inputConsigneeShippingNumber" name="inputConsigneeShippingNumber" type="text" class="form-control"  [(ngModel)]="loadItem.DeliveryNumber"/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="inputConsigneeNote">Note</label>
                        <textarea id="inputConsigneeNote" name="inputConsigneeNote" type="text" class="form-control" [(ngModel)]="loadItem.DeliveryNote"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </p-tabPanel>
            <p-tabPanel header="Billing">
              <div class="row">
                <div class="col-sm-12 col-lg-6">
                  <div class="form-group">
                    <label for="inputAgreedPrice">Agreed Amount</label><br />
                    <input id="inputAgreedPrice" name="inputAgreedPrice" class="form-control" currencyMask [(ngModel)]="loadItem.AgreedPrice" />
                  </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <div class="form-group">
                    <label for="inputFuelSurchargeAmount">Fuel Surcharge</label><br />
                    <p-spinner id="inputFuelSurchargeAmount" name="inputFuelSurchargeAmount" [min]="1" [max]="100" [step]="0.10" [(ngModel)]="loadItem.FuelSurcharge"></p-spinner>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-sm-12 col-lg-6">
                  <div class="form-group">
                    <label for="inputBillableMiles">Billable Miles</label><br />
                    <p-spinner id="inputBillableMiles" name="inputBillableMiles" [(ngModel)]="loadItem.BillableMiles"></p-spinner>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <div class="form-group">
                    <label for="inputMilesEmpty">Miles Empty</label><br />
                    <p-spinner id="inputMilesEmpty" name="inputMilesEmpty" [(ngModel)]="loadItem.EmptyMiles"></p-spinner>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-lg-6">
                  <div class="form-group">
                    <label for="inputMilesBobtail">Miles Bobtail</label><br />
                    <p-spinner id="inputMilesBobtail" name="inputMilesBobtail" [(ngModel)]="loadItem.BobtailMiles"></p-spinner>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <div class="form-group">
                    <label for="inputNoOfStops">No of Extra Stops</label><br />
                    <p-spinner id="inputNoOfStops" name="inputNoOfStops" [(ngModel)]="loadItem.ExtraStops"></p-spinner>
                  </div>
                </div>
              </div>

              <!--<div class="row">
                  <div class="col-sm-12 col-lg-6">
                      <div class="form-group">
                          <label for="inputAmountPaid">Amount Paid</label><br />
                          <input id="inputAmountPaid" name="inputAmountPaid" class="form-control" currencyMask [(ngModel)]="loadItem.Invoice.AmountPaid" />
                      </div>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                      <div class="form-group">
                          <label for="inputBalance">Balance</label><br />
                          <input id="inputBalance" name="inputBalance" class="form-control" currencyMask [(ngModel)]="loadItem.Invoice.RemainingBalance" />
                      </div>
                  </div>
              </div>-->

            </p-tabPanel>
            <p-tabPanel header="Documents" *ngIf="loadItem.Id > 0">
              <div class="row">
                <div class="col-sm-12">
                  <dp-upload [uploadTarget]="0" [uploadedFiles]="loadItem.Files" [itemId]="loadItem.Id"></dp-upload>
                </div>
              </div>
            </p-tabPanel>
            <p-tabPanel header="Notes">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="inputDriverNotes">Driver Notes</label>
                    <textarea id="inputDriverNotes" name="inputDriverNotes" type="text" class="form-control" [(ngModel)]="loadItem.DriverNotes"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="inputInternalNotes">Internal Notes</label>
                    <textarea id="inputInternalNotes" name="inputInternalNotes" type="text" class="form-control" [(ngModel)]="loadItem.InternalNotes"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="inputExternalNotes">ExternalNotes</label>
                    <textarea id="inputExternalNotes" name="inputExternalNotes" type="text" class="form-control" [(ngModel)]="loadItem.ExternalNotes"></textarea>
                  </div>
                </div>
              </div>
            </p-tabPanel>
            <p-tabPanel header="Issues">
              <div class="row">
                <div class="col-sm-12">
                  <span class="load-issues-title">Load Issues</span>
                  <button type="button" (click)="createLoadIssue()" class="dpl-btn dpl-link pull-right">
                    <i class="fa fa-plus"></i> Create Load Issue
                  </button>
                </div>
              </div>
              <div class="row" *ngFor="let issue of loadItem.LoadIssues">
                <div class="col-sm-12 border-top">
                  <dp-load-issue [loadIssue]="issue"></dp-load-issue>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-12">

                </div>
              </div>
            </p-tabPanel>
          </p-tabView>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button type="submit" [disabled]="!editLoadForm.form.valid || IsFinished == true" class="dpl-btn pull-right dp-margin-left">Save Load Details</button>
        </div>
      </div>
    </form>
  </div>
</div>
<dp-load-issue-details (OnLoadIssueSaved)="OnLoadIssueSaved($event)" #loadIssueDetails></dp-load-issue-details>
