
<style>
    .hspdf {
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        font-size: 16px;
        color: #777;
        max-width: 800px;
        margin: 0 auto;
    }

    .hspdf__top {
        padding: 30px 10px 10px 10px;
        text-align: center;
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
    }

        .hspdf__top > div {
            margin-bottom: 10px;
        }

    .hspdf__avatar {
        margin: 0 auto;
        background-size: cover;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 3px solid #ccc;
        overflow: hidden;
    }

        .hspdf__avatar img {
            width: 70px;
            height: 70px;
        }

    .hspdf__name {
        font-size: 30px;
        color: #434A54;
    }

    .hspdf__demog span {
        color: #999;
        display: inline-block;
        margin-left: 10px;
        font-size: 12px;
    }

    .hspdf__section {
        padding-bottom: 30px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
    }

        .hspdf__section:last-child {
            border: 0;
        }

        .hspdf__section h1 {
            font-size: 18px;
            font-weight: 500;
            color: #999;
        }

        .hspdf__section h2 {
            font-size: 20px;
            font-weight: 300;
            color: #999;
        }

    .hspdf__element {
        margin: 0 10px;
        padding: 10px 0;
        margin-bottom: 10px;
        border-bottom: 1px dashed #ccc;
    }

        .hspdf__element:last-child {
            border: 0;
        }

        .hspdf__element td {
            color: #777;
            padding-bottom: 10px;
            vertical-align: top;
        }

        .hspdf__element label {
            font-size: 11px;
            color: #ccc;
            display: block;
            margin-bottom: 2px;
        }

    .hspdf__notes {
        font-size: 13px;
    }

    .hspdf__element td.hspdf__element__name {
        color: #434A54;
        width: 40%;
    }

    .hspdf__element td.hspdf__element__date {
        width: 15%;
        padding: 0 10px;
    }

    .hspdf__element td.hspdf__element__single {
        width: 20%;
        padding: 0 10px;
    }

    .hspdf__element td.hspdf__active {
        color: green;
    }

    .hspdf__content hr {
        background: #4f81bd;
        height: 3px;
        border: none;
    }

    /*border: #4f81bd;*/
</style>



<div class="hspdf">
    <table style="width:100%;">
        <tr>
            <td style="width: 60%">
                Logo
            </td>
            <td style="width:40%; color: #4f81bd; font-size: 30px; font-weight: bold; text-align: right;">
                INVOICE
            </td>
        </tr>
        <tr>
            <td colspan="2">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {{CompanyName}}<br />
                {{CompanyAddress}}<br />
                {{CompanyCity}}, {{CompanyState}}, {{CompanyZipCode}}<br />
                {{CompanyPhoneNumber}}, {{CompanyFax}}, {{CompanyEmail}}<br />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                <span style="color: #4f81bd; font-weight: bold;">Bill To:</span>
            </td>
            <td>
                <span style="color: #4f81bd; font-weight: bold;">Invoice:</span> {{LoadNumber}}
            </td>
        </tr>
        <tr>
            <td>
                {{PartnerName}}<br />
            </td>
            <td>
                <span style="color: #4f81bd; font-weight: bold;">BOL:</span> {{BOL}}
            </td>
        </tr>
        <tr>
            <td>
                {{PartnerAddress}}<br />
            </td>
            <td>
                <span style="color: #4f81bd; font-weight: bold;">PO:</span> {{PO}}
            </td>
        </tr>
        <tr>
            <td>
                {{PartnerCity}} {{PartnerState}} {{PartnerZipCode}}<br />
            </td>
            <td>
                <span style="color: #4f81bd; font-weight: bold;">Date:</span> {{InvoiceDate}}
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <span style="color: #4f81bd; font-weight: bold;">Terms:</span> {{Terms}}
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <span style="color: #4f81bd; font-weight: bold;">Due Date:</span> {{PO}}
            </td>
        </tr>
    </table>

    <hr style="background: #4f81bd; height: 3px; border: none;" />
    <table style="width: 100%;">
        <tr>
            <td style="width: 50%;">
                <span style="color: #4f81bd; font-weight: bold;">Items & Description</span>
            </td>
            <td style="width: 16%;">
                <span style="color: #4f81bd; font-weight: bold;">Quantity</span>
            </td>
            <td style="width: 17%;">
                <span style="color: #4f81bd; font-weight: bold;">Rate</span>
            </td>
            <td style="width: 17%;">
                <span style="color: #4f81bd; font-weight: bold;">Amount</span>
            </td>
        </tr>
    </table>
    <hr style="background: #4f81bd; height: 3px; border: none;" />
    <table style="width: 100%;">
        <tr>
            <td style="width: 50%;">
                <span style="color: #4f81bd; font-weight: bold; font-size: 12px;">Load {{LoadNUmber}} shipped on {{LoadStartDate}}</span>
            </td>
            <td style="width: 16%;">
                <span style="color: #4f81bd; font-weight: bold; font-size: 12px;">{{BillableMiles}} (miles)</span>
            </td>
            <td style="width: 17%;">
                <span style="color: #4f81bd; font-weight: bold; font-size: 12px;">{{Rate}}</span>
            </td>
            <td style="width: 17%;">
                <span style="color: #4f81bd; font-weight: bold; font-size: 12px;">{{Amount}}</span>
            </td>
        </tr>
        <tr>
            <td>
                <span style="color: #4f81bd; font-weight: bold; font-size: 12px;">From {{LocationStart}} - to {{LocationEnd}}</span><br />
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <span style="color: #4f81bd; font-weight: bold; font-size: 12px;">{{DriverA}} - {{DriverB}}, {{Truck}}, {{Trailer}}</span>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

    </table>
    <hr />

    {{#each InvoiceItems}}
    <table style="width: 100%;">
        <tr>
            <td style="width: 50%;">
                <span style="color: #4f81bd; font-weight: bold; font-size: 12px;">{{ServiceName}}</span>
            </td>
            <td style="width: 16%;"></td>
            <td style="width: 17%;"></td>
            <td style="width: 17%;">
                <span style="color: #4f81bd; font-weight: bold; font-size: 12px;">{{Total}}</span>
            </td>
        </tr>
    </table>
    <hr />
    {{/each}}

    <div class="hspdf__content">
        <div class="hspdf__section">

            <br />
        </div>
    </div>
</div>

