<p-dialog header="Create New Load" [width]="960" [modal]="true" [responsive]="true" [resizable]="false" [(visible)]="display">
  <div class="dp-form-container">
    <form (ngSubmit)="onSubmitCreateLoad()" #createLoadForm="ngForm" novalidate>
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <b>Load point</b>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputStartDate">Load Date</label><br />
                <p-calendar appendTo="body" id="inputStartDate" name="inputStartDate" [(ngModel)]="startLoadPoint.DateLoad" (ngModelChange)="onStartLoadDateChanged()" dateFormat="mm/dd/yy" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2020" required></p-calendar>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputStartTime">Load Time</label><br />
                <p-calendar  appendTo="body" id="inputStartTime" name="inputStartTime" [timeOnly]="true" [(ngModel)]="startLoadPointTime" dateFormat="mm/dd/yy" [showIcon]="true"></p-calendar>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="startLoadPointLocation">Location</label>
                <input id="startLoadPointLocation" name="startLoadPointLocation" #startLoadPointSearch type="text" class="form-control" [(ngModel)]="startLoadPoint.Location" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="startLoadPointNote">Note</label>
                <textarea id="startLoadPointNote" name="startLoadPointNote" type="text" class="form-control" [(ngModel)]="startLoadPoint.Description"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <b>Unload point</b>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputEndDate">Unload Date</label><br />
                <p-calendar appendTo="body" id="inputEndDate" name="inputEndDate" [minDate]="startLoadPoint.DateLoad" [(ngModel)]="endLoadPoint.DateLoad" dateFormat="mm/dd/yy" showIcon="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2020" required></p-calendar>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputEndTime">Unload Time</label><br />
                <p-calendar  appendTo="body" id="inputEndTime" name="inputEndTime" [timeOnly]="true" [(ngModel)]="endLoadPointTime" dateFormat="mm/dd/yy" showIcon="true"></p-calendar>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="endLoadPointLocation">Location</label>
                <input id="endLoadPointLocation" name="endLoadPointLocation" #endLoadPointSearch type="text" class="form-control" [(ngModel)]="endLoadPoint.Location" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="endLoadPointNote">Note</label>
                <textarea id="endLoadPointNote" name="endLoadPointNote" type="text" class="form-control" [(ngModel)]="endLoadPoint.Description"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputConfirmation ">Confirmation  #</label>
            <input id="inputConfirmation " name="inputConfirmation " type="text" class="form-control" [(ngModel)]="newLoad.Confirmation" [required]="newLoad.PO == null || newLoad.PO == ''" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputPO">PO #</label>
            <input id="inputPO" name="inputPO" type="text" class="form-control" [(ngModel)]="newLoad.PO" [required]="newLoad.Confirmation == '' || newLoad.Confirmation == null" />
          </div>
        </div>
      </div>

      <hr />
      <div class="row">
        <div class="col-sm-12">
          <button type="submit" [disabled]="startLoadPoint.Lat == null || endLoadPoint.Lat == null || ((newLoad.Confirmation == '' || newLoad.Confirmation == null) && (newLoad.PO == null || newLoad.PO == ''))" class="dpl-btn dpl-btn-lg pull-right dp-margin-left">Create Load</button>
          <button type="button" (click)="cancelCreateLoad()" class="dpl-btn dpl-btn-lg pull-right">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</p-dialog>

