<div class="dp-container">
  <div class="row">
    <div class="col-sm-8">
      <div class="row dp-title">
        <div class="col-sm-6" style="padding:5px 10px;">
          <h1>Trips</h1>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
  <form (ngSubmit)="onSubmitSearch()" #filterForm="ngForm" novalidate>
    <div class="row">
      <div class="col-sm-6">
        <input name="inputSearchParam" type="text" class="form-control" placeholder="Trip Number..." [(ngModel)]="filter.SearchParam" />
      </div>
      <div class="col-sm-6">
        <button type="submit" class="btn btn-default">Search</button>
        <button type="button" (click)="resetFilter()" class="btn btn-default">Reset</button>
      </div>
    </div>
  </form>
  <br />
  <div class="row">
    <div class="col-sm-12">
      <p-dataTable #dataTable [value]="items" [responsive]="true" [scrollable]="true"  [(selection)]="tripItem" (onRowSelect)="onSelectTrip($event)"
                   [rows]="filter.PageSize" [emptyMessage]="emptyMsg"
                   [paginator]="true" [totalRecords]="totalItems" pageLinks="5" [rowsPerPageOptions]="[10,20,30]"
                   [lazy]="true" (onLazyLoad)="loadData($event)">
        <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>
        <p-column field="TripNumber" header="Trip #" [style]="{'width':'80px'}"></p-column>
        <p-column field="DriverA" header="Driver A" [style]="{'width':'140px'}"></p-column>
        <p-column field="DriverB" header="Driver B" [style]="{'width':'140px'}"></p-column>
        <p-column field="Truck" header="Truck" [style]="{'width':'100px'}"></p-column>
        <p-column field="Trailer" header="Trailer" [style]="{'width':'100px'}"></p-column>
        <p-column field="DateFrom" header="Date From" [style]="{'width':'120px'}">
          <ng-template let-load="rowData" pTemplate="body">
            {{ load.DateFrom | date:'MM/dd/yyyy' }}
          </ng-template>
        </p-column>
        <p-column field="DateTo" header="Date To" [style]="{'width':'120px'}">
          <ng-template let-load="rowData" pTemplate="body">
            {{ load.DateTo | date:'MM/dd/yyyy' }}
          </ng-template>
        </p-column>
        <p-column field="PayTypeDriverA" header="Pay Type DriverA" [style]="{'width':'120px'}"></p-column>
        <p-column field="PayRateFullDriverA" header="Pay Rate Full DriverA" [style]="{'width':'120px'}"></p-column>
        <p-column field="PayRateEmptyDriverA" header="Pay Rate Empty DriverA" [style]="{'width':'120px'}"></p-column>
        <p-column field="PayRateBobtailDriverA" header="Pay Rate Bobtai lDriverA" [style]="{'width':'120px'}"></p-column>
        <p-column field="PayTypeDriverB" header="Pay Type DriverB" [style]="{'width':'120px'}"></p-column>
        <p-column field="PayRateFullDriverB" header="Pay Rate Full DriverB" [style]="{'width':'120px'}"></p-column>
        <p-column field="PayRateEmptyDriverB" header="Pay Rate Empty DriverB" [style]="{'width':'120px'}"></p-column>
        <p-column field="PayRateBobtailDriverB" header="Pay Rate Bobtai lDriverB" [style]="{'width':'120px'}"></p-column>
        <p-column field="IsFinished" header="" [style]="{'width':'20px'}">
          <ng-template let-load="rowData" pTemplate="body">
            <i *ngIf="load.IsFinished == true" pTooltip="Trip finished" [tooltipPosition]="left" class="fa fa-lock" aria-hidden="true"></i>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
  </div>
</div>
<dp-loader></dp-loader>
