<div class="list-group-item" [ngClass]="{'active-load': loadPoint.LoadId == loadId && loadPoint.OrderNumber > 0, 'dp-starting-load-point': loadPoint.OrderNumber == 0}">
  <span *ngIf="loadPoint.City != null" style="font-size: 14px;"><b style="font-size: 18px;" [ngClass]="{'dp-font-green': loadPoint.ActionType == 0, 'dp-font-red': loadPoint.ActionType == 1}">{{letter}}.</b> {{loadPoint.Address}}, <b>{{loadPoint.City}}</b>, {{loadPoint.State}}<span *ngIf="loadPoint.Country != 'United States'">, {{loadPoint.Country}}</span></span>
  <span *ngIf="loadPoint.City == null" style="font-size: 14px;"><b style="font-size: 18px;" [ngClass]="{'dp-font-green': loadPoint.ActionType == 0, 'dp-font-red': loadPoint.ActionType == 1}">{{letter}}.</b> {{loadPoint.Location}}</span>
  <br>
  <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="loadPoint.OrderNumber != 0">
    <span>{{loadPoint.DateLoad | date:'MM/dd/yyyy HH:mm' }}h</span>
    <span>{{loadPoint.Distance | number : '1.2-2'}}/{{loadPoint.DistanceFromStart | number : '1.2-2'}} miles</span>
  </div>
  <div *ngIf="showDetails">
    <span>Load #: <b>{{loadPoint.LoadNumber}}</b><!--(<span class="dp-bold-italic" [ngClass]="{'dp-font-green': loadPoint.ActionType == 0, 'dp-font-red': loadPoint.ActionType == 1}">{{loadPoint.ActionType == 0 ? 'Loading' : 'Unloading'}}</span>)--></span><br>
    <span>Contact: <b>{{loadPoint.Contact}}</b></span><br>
    <span>Phone: <b>{{loadPoint.Phone}}</b></span><br>
    <span>Note: <b>{{loadPoint.Description}}</b></span>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex>
      <button *ngIf="!showDetails && loadPoint.OrderNumber != 0" class="dpl-btn dpl-link green" type="button" (click)="toggleDetails()">
        show details
      </button>
      <button *ngIf="showDetails" class="dpl-btn dpl-link red" type="button" (click)="toggleDetails()">
        hide details
      </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="2px">
      <button class="dpl-btn dpl-icon-only" type="button" [disabled]="IsFinished == true" (click)="editLoadPoint()" pTooltip="Edit" tooltipPosition="top">
        <span class="fa fa-pencil"></span>
      </button>
      <button class="dpl-btn dpl-icon-only" type="button" [disabled]="IsFinished == true" (click)="deleteLoadPoint()" pTooltip="Delete" tooltipPosition="top">
        <span class="fa fa-remove"></span>
      </button>
    </div>
    <!--<span *ngIf="loadPoint.LoadId == loadId" style="color: green;" class="fa fa-link"></span>-->
  </div>
</div>
<!--
<dp-load-point-details #loadPointDetails (onLoadPointSaved)="onLoadPointSavedInternal($event)"></dp-load-point-details>-->

