:host {
  .active-load {
    border-left: solid 3px lawngreen;
  }
  .dp-bold-italic {
    font-style: italic;
    font-weight: bold;
    font-size: 0.9em;
  }

  .dp-font-green {
    color: #00C853;
  }

  .dp-font-red {
    color: red;
  }

  .dp-active-load {
    background-color: #b3daff;
  }

  .dp-selected-load-point {
    border-left: 4px solid green;
  }

  .dp-starting-load-point {
    border: 2px solid #0aa66e;
    background: rgba(10,166,110, 0.2);
  }

  .list-group-item {
    padding:10px 5px;
    margin-bottom: 1px !important;
  }

  .list-group-item:hover {
    background-color: rgba(51, 102, 153, 0.15);
  }

  .btn-load-point {
    background: transparent;
    border: none;
    font-size: 12px;
    height:30px;
    width: 30px;
    outline: none;
    //border-radius: 4px;
    //background-color: rgb(51, 102, 153);
  }

  .btn-load-point-toggle-show {
    background: transparent;
    border: none;
    font-size: 12px;
    height:30px;
    width: 100px;
    text-align: left;
    outline: none;
    color: green;
  }

  .btn-load-point-toggle-hide {
    background: transparent;
    border: none;
    font-size: 12px;
    height:30px;
    width: 100px;
    text-align: left;
    outline: none;
    color: red;
  }

  .btn-load-point:hover {
    font-size: 15px;
  }

  .dp-load-points-commands {
    position:absolute;
    padding: 2px;
    //border-bottom: 1px solid silver;
    right: 0;
    left: 0;
    top: 0;
    height: 34px;
    background-color: rgba(51, 102, 153, 0.75);

    button {
      color: white;
    }
  }
}
