<div class="dp-details">
  <form (ngSubmit)="onSubmit()" #truckForm="ngForm" novalidate>
    <!--<sticky [sticky-zIndex]="500000000" style="width: 100%;">
      <div class="row dp-title">
        <div class="col-sm-6" style="padding:5px 10px;">
          <h1>{{ pageTitle }}</h1>
        </div>
        <div class="col-sm-6" style="padding:5px 10px;">
          <button type="submit" [disabled]="!truckForm.form.valid" class="btn btn-default pull-right dp-margin-left">Save vehicle details</button>
          <a class="btn btn-default pull-right" [routerLink]="VehicleType == 0 ? ['/trucks'] : ['/trailers']">Cancel</a>
        </div>
      </div>
    </sticky>-->
    <div class="details-header">
      <div class="row dp-title">
        <div class="col-sm-6" style="padding-top:10px; padding-left: 300px">
          <h1>{{ pageTitle }}</h1>
        </div>
        <div class="col-sm-6" style="padding-top:10px; padding-right: 50px">
          <button type="submit" [disabled]="!truckForm.form.valid" class="btn btn-default pull-right dp-margin-left">Save vehicle details</button>
          <a class="btn btn-default pull-right" [routerLink]="VehicleType == 0 ? ['/trucks'] : ['/trailers']">Cancel</a>
        </div>
      </div>
    </div>
    <div class="dp-content">
      <div class="row">
        <div class="col-sm-3 dp-header">
          <div>
            General information
          </div>
          <div class="hint">
            Please provide basic info about the vehicle
          </div>
        </div>
        <div class="col-sm-9 dp-data">
          <div class="row">


            <div class="col-sm-6" style="padding-top:30px;">
              <input type="checkbox" name="chkIsActive" id="chkIsActive" class="css-checkbox" [(ngModel)]="vehicleItem.IsActive" />
              <label for="chkIsActive" class="css-label">Is Active</label>
            </div>
            <div class="col-sm-6">

            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputVehicleID">Vehicle ID</label><span class="required-tip">(required)</span>
                <input [disabled]="vehicleItem.Id > 0" type="text" class="form-control" id="inputVehicleID" name="inputVehicleID" [(ngModel)]="vehicleItem.VehicleID" required/>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputCompany">Company</label><span class="required-tip">(required)</span><br />
                <dp-company id="inputCompany" name="inputCompany" [(ngModel)]="vehicleItem.CompanyId"></dp-company>
              </div>
              <!--<div class="form-group">
                  <label for="inputNumber">Number</label><span class="required-tip">(required)</span>
                  <input type="text" class="form-control" id="inputNumber" name="inputNumber" [(ngModel)]="vehicleItem.Number" required/>
              </div>-->
            </div>
          </div>
          <!--<div class="row">
              <div class="col-sm-6">
                  <div class="form-group">
                      <label for="inputDisplayName">Display Name</label><span class="required-tip">(required)</span>
                      <input type="text" class="form-control" id="inputDisplayName" name="inputDisplayName" [(ngModel)]="vehicleItem.DisplayName" required />
                  </div>
              </div>
          </div>-->
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-4 dp-header">
          <div>
            Vehicle details
          </div>
          <div class="hint">
            Details information
          </div>
        </div>
        <div class="col-sm-8 dp-data">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputMake">Make</label>
                <input type="text" class="form-control" id="inputMake" name="inputMake" [(ngModel)]="vehicleItem.Make" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputModel">Model</label>
                <input type="text" class="form-control" id="inputModel" name="inputModel" [(ngModel)]="vehicleItem.Model" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputYear">Year</label>
                <input type="text" class="form-control" id="inputYear" name="inputYear" [(ngModel)]="vehicleItem.Year" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputSize">Size</label>
                <input type="text" class="form-control" id="inputSize" name="inputSize" [(ngModel)]="vehicleItem.Size" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputColor">Color</label>
                <input type="text" class="form-control" id="inputColor" name="inputColor" [(ngModel)]="vehicleItem.Color" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputPlateNumber">Plate Number</label>
                <input type="text" class="form-control" id="inputPlateNumber" name="inputPlateNumber" [(ngModel)]="vehicleItem.PlateNumber" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputState">State</label><br />
                <dp-state id="inputState" name="inputState" [(ngModel)]="vehicleItem.StateId"></dp-state>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputPlateExpiration">Plate Expiration</label><br />
                <p-calendar id="inputPlateExpiration" name="inputPlateExpiration" [(ngModel)]="vehicleItem.PlateExpiration" dateFormat="mm/dd/yy" showIcon="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1980:2100"></p-calendar>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputVIN">VIN</label>
                <input type="text" class="form-control" id="inputVIN" name="inputVIN" [(ngModel)]="vehicleItem.VIN" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputTireType">Tire Type</label>
                <input type="text" class="form-control" id="inputTireType" name="inputTireType" [(ngModel)]="vehicleItem.TireType" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-4 dp-header">
          <div>
            Ownership
          </div>
          <div class="hint">
            Ownership information
          </div>
        </div>
        <div class="col-sm-8 dp-data">
          <div class="row" style="margin-bottom:20px;">
            <div class="col-sm-6">
              <input type="checkbox" name="chkOwnership" id="chkOwnership" class="css-checkbox" [(ngModel)]="vehicleItem.Ownership" />
              <label for="chkOwnership" class="css-label">Ownership</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputLeasedFrom">Leased From</label><br />
                <p-calendar id="inputLeasedFrom" name="inputLeasedFrom" [(ngModel)]="vehicleItem.LeasedFrom" dateFormat="mm/dd/yy" showIcon="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2100"></p-calendar>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputLeasedStart">Leased Start</label><br />
                <p-calendar id="inputLeasedStart" name="inputLeasedStart" [(ngModel)]="vehicleItem.LeasedStart" dateFormat="mm/dd/yy" showIcon="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2100"></p-calendar>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputLeasedEnd">Leased End</label><br />
                <p-calendar id="inputLeasedEnd" name="inputLeasedEnd" [(ngModel)]="vehicleItem.LeasedEnd" dateFormat="mm/dd/yy" showIcon="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2100"></p-calendar>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputPurchaseDate">Purchase Date</label><br />
                <p-calendar id="inputPurchaseDate" name="inputPurchaseDate" [(ngModel)]="vehicleItem.PurchaseDate" dateFormat="mm/dd/yy" showIcon="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2100"></p-calendar>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputPurchasedFrom">Purchased From</label>
                <input type="text" class="form-control" id="inputPurchasedFrom" name="inputPurchasedFrom" [(ngModel)]="vehicleItem.PurchasedFrom" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputSellDate">Sell Date</label><br />
                <p-calendar id="inputSellDate" name="inputSellDate" [(ngModel)]="vehicleItem.SellDate" dateFormat="mm/dd/yy" showIcon="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2100"></p-calendar>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputSoldTo">Sold To</label>
                <input type="text" class="form-control" id="inputSoldTo" name="inputSoldTo" [(ngModel)]="vehicleItem.SoldTo" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-4 dp-header">
          <div>
            Insurance
          </div>
          <div class="hint">
            Insurance information
          </div>
        </div>
        <div class="col-sm-8 dp-data">
          <div class="row" style="margin-bottom:20px;">
            <div class="col-sm-6">
              <input type="checkbox" name="chkInsurance" id="chkInsurance" class="css-checkbox" [(ngModel)]="vehicleItem.Insured" />
              <label for="chkInsurance" class="css-label">Insurance</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputInsuranceDate">Insurance Date</label><br />
                <p-calendar id="inputInsuranceDate" name="inputInsuranceDate" [(ngModel)]="vehicleItem.InsuranceDate" dateFormat="mm/dd/yy" showIcon="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2100"></p-calendar>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputInsurancePremium">Insurance Premium</label>
                <input type="text" class="form-control" id="inputInsurancePremium" name="inputInsurancePremium" [(ngModel)]="vehicleItem.InsurancePremium" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<dp-loader></dp-loader>
<dp-messages></dp-messages>
