<div class="dp-container">
  <div class="row">
    <div class="col-sm-12">
      <div class="row dp-title">
        <div class="col-sm-6" style="padding:5px 10px;">
          <h1>Pending Invoices</h1>
        </div>
      </div>
    </div>
  </div>
  <form (ngSubmit)="onSubmitSearch()" #filterForm="ngForm" novalidate>
    <div class="row">
      <div class="col-sm-4">
        <input name="inputSearchParam" type="text" class="form-control" placeholder="Load Number/PO..." [(ngModel)]="filter.SearchParam" />
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="inputAging">Aging: </label>
          <p-dropdown id="inputAging" name="inputAging" [autoWidth]="true" [options]="invoiceAgings" [(ngModel)]="filter.Aging"></p-dropdown>days
        </div>
      </div>
      <div class="col-sm-4">
        <button type="submit" class="btn btn-default">Search</button>
        <button type="button" (click)="resetFilter()" class="btn btn-default">Reset</button>
      </div>
    </div>
  </form>
  <br />
  <div class="row">
    <div class="col-sm-12">
      <p-dataTable #dataTable [value]="items" [responsive]="true" [scrollable]="true"
                   [rows]="filter.PageSize" [emptyMessage]="emptyMsg"
                   [paginator]="true" [totalRecords]="totalItems" pageLinks="5" [rowsPerPageOptions]="[10,15,20]"
                   [lazy]="true" (onLazyLoad)="loadData($event)">
        <p-column [style]="{'width':'40px'}">
          <ng-template let-inv="rowData" pTemplate="body">
            <a routerLink="/console/finance/invoices/{{inv.Id}}" pButton pTooltip="Invoice details" icon="fa-edit"></a>
          </ng-template>
        </p-column>
        <p-column field="LoadNumber" header="Load #"></p-column>
        <p-column field="InvoiceNumber" header="Invoice #"></p-column>
        <p-column field="InvoiceDate" header="Invoice Date">
          <ng-template let-inv="rowData" pTemplate="body">
            {{ inv.InvoiceDate | date:'MM/dd/yyyy' }}
          </ng-template>
        </p-column>
        <p-column field="InvoiceDueDate" header="Due Date">
          <ng-template let-inv="rowData" pTemplate="body">
            {{ inv.InvoiceDueDate | date:'MM/dd/yyyy' }}
          </ng-template>
        </p-column>
        <p-column field="Brokerage" header="Brokerage"></p-column>
        <p-column field="Total" header="Total" [style]="{'width':'100px'}">
          <ng-template let-item="rowData" pTemplate="body">
            {{ item.Total | currency:'USD':true }}
          </ng-template>
        </p-column>
        <p-column field="AmountPaid" header="Amount Paid" [style]="{'width':'100px'}">
          <ng-template let-item="rowData" pTemplate="body">
            {{ item.AmountPaid | currency:'USD':true }}
          </ng-template>
        </p-column>
        <p-column field="BalanceDue" header="Balance" [style]="{'width':'100px'}">
          <ng-template let-item="rowData" pTemplate="body">
            {{ item.BalanceDue | currency:'USD':true }}
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
  </div>
</div>
<dp-loader></dp-loader>

