<div class="dp-container">
  <div class="row">
    <div class="col-sm-8">
      <h1>Planner</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <button type="button" class="btn btn-secondary" (click)="previousMonth()">
          <span class="fa fa-chevron-left"></span>
        </button>
        <span>{{selectedDate | date:"MMMM-yyyy"}}</span>
        <button type="button" class="btn btn-secondary" (click)="nextMonth()">
          <span class="fa fa-chevron-right"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div fxLayout="row" fxLayoutAlign="center">
        <span class="planner_driver"></span>
        <span class="planner_date" *ngFor="let item of points">
                    {{item | date:"dd"}}
                </span>
      </div>
    </div>
  </div>
  <div class="row" *ngFor="let item of drivers">
    <div class="col-sm-12">
      <dp-planner-item [date]="selectedDate" [driver]="item"></dp-planner-item>
    </div>
  </div>
</div>
