<div class="active-user-container">
  <dp-company style="display: inline-block;" (onCompanySelected)="onCompanySelected($event)" [(ngModel)]="activeCompany.Id"></dp-company>
  <!--<span style="display: inline-block; font-weight: bold;">{{ activeUser.FullName }}</span>
  <a routerLink="/login" title="Logout" style="display: inline-block; margin-left:20px;">
    <i class="fa fa-sign-out fa-lg"></i>
  </a>-->
</div>
