<div class="dp-container">
  <div class="row">
    <div class="col-sm-8">
      <div class="row dp-title">
        <div class="col-sm-6" style="padding:5px 10px;">
          <h1>Cash Flow</h1>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-default pull-right" (click)="createCashFlow()">Add Cash Flow</button>
    </div>
  </div>
  <form (ngSubmit)="onSubmitSearch()" #filterForm="ngForm" novalidate>
    <div class="row">
      <div class="col-sm-6">
        <input name="inputSearchParam" type="text" class="form-control" placeholder="Truck/Driver..." [(ngModel)]="filter.SearchParam" />
      </div>
      <div class="col-sm-6">
        <button type="submit" class="dpl-btn dpl-btn-lg">Search</button>
        <button type="button" (click)="resetFilter()" class="dpl-btn dpl-btn-lg">Reset</button>
      </div>
    </div>
  </form>
  <br />
  <div class="row">
    <div class="col-sm-12">
      <p-dataTable [value]="items" [responsive]="true" [scrollable]="true"
                   [rows]="filter.PageSize" [emptyMessage]="emptyMsg"
                   [paginator]="true" [totalRecords]="totalItems" pageLinks="5" [rowsPerPageOptions]="[10,15,20]"
                   [lazy]="true" (onLazyLoad)="loadData($event)">
        <p-column [style]="{'width':'44px'}">
          <ng-template let-cashFlow="rowData" pTemplate="body">
            <button pButton pTooltip="Cash flow details" icon="fa-edit" (click)="editCashFlow(cashFlow)"></button>
          </ng-template>
        </p-column>
        <p-column field="Driver" header="Driver" [style]="{'width':'180px'}"></p-column>
        <p-column field="Truck" header="Truck" [style]="{'width':'180px'}"></p-column>
        <p-column field="Trailer" header="Trailer" [style]="{'width':'180px'}"></p-column>
        <p-column field="Type" header="Type" [style]="{'width':'100px'}"></p-column>
        <p-column field="Amount" header="Amount" [style]="{'width':'100px'}">
          <ng-template let-item="rowData" pTemplate="body">
            {{ item.Amount | currency:'USD':true }}
          </ng-template>
        </p-column>
        <p-column field="Date" header="Date" [style]="{'width':'100px'}">
          <ng-template let-item="rowData" pTemplate="body">
            {{ item.Date | date:'MM/dd/yyyy' }}
          </ng-template>
        </p-column>
        <p-column field="Note" header="Note" [style]="{'width':'280px'}"></p-column>
        <p-column field="IsSettled" header="Settled" [style]="{'width':'60px'}">
          <ng-template let-csh="rowData" pTemplate="body">
            <i *ngIf="(csh.Type == 'Advance' || csh.Type == 'Reimbursment') && csh.IsSettled == true" style="color: lawngreen" class="fa fa-check" aria-hidden="true"></i>
            <i *ngIf="(csh.Type == 'Advance' || csh.Type == 'Reimbursment') && csh.IsSettled == false" style="color: red;" class="fa fa-times" aria-hidden="true"></i>
          </ng-template>
        </p-column>
        <p-column field="IsActive" header="Active" [style]="{'width':'60px'}">
          <ng-template let-csh="rowData" pTemplate="body">
            <i *ngIf="csh.IsActive == true" style="color: lawngreen" class="fa fa-check" aria-hidden="true"></i>
            <i *ngIf="csh.IsActive == false" style="color: red;" class="fa fa-times" aria-hidden="true"></i>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
  </div>
</div>
<dp-loader></dp-loader>
<dp-messages></dp-messages>
<dp-cash-flow-details #cashFlowDialog (onCashFlowSaved)="onCashFlowSaved()"></dp-cash-flow-details>
