<nav class="navbar navbar-expand-lg navbar-dark fixed-top navzj1">
  <div class="container">
    <a class="navbar-brand" routerLink=""><span class="goldzj1">Dispatch</span><span class="darkbluezj2">Pal</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink=""><span class="goldzj1">Home</span>
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/features"><span class="goldzj2">Features</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pricing"><span class="goldzj2">Pricing</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact"><span class="goldzj2">Contact</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container dp-container">
<router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer class="py-5 darkbluezj3">
  <div class="container">
    <p class="m-0 text-center goldzj1">Copyright &copy; eSSoHo, Inc. 2018</p>
  </div>
  <!-- /.container -->
</footer>
