<div class="dp-container">
  <div class="row">
    <div class="col-sm-8">
      <div class="row dp-title">
        <div class="col-sm-6" style="padding:5px 10px;">
          <h1>Services</h1>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <a class="btn btn-default pull-right" routerLink="/console/maintenance/services/0">
        <i class="fa fa-plus"></i> Add New Service
      </a>

      <!--<sa-big-breadcrumbs items="['Drivers', 'Overview']"></sa-big-breadcrumbs>-->
    </div>
  </div>
  <form (ngSubmit)="onSubmitSearch()" #filterForm="ngForm" novalidate>
    <div class="row">
      <div class="col-sm-6">
        <input name="inputSearchParam" type="text" class="form-control" placeholder="Part/Location/Job..." [(ngModel)]="filter.SearchParam" />
      </div>
      <div class="col-sm-6">
        <button type="submit" class="dpl-btn dpl-btn-lg">Search</button>
        <button type="button" (click)="resetFilter()" class="dpl-btn dpl-btn-lg">Reset</button>
      </div>
    </div>
  </form>
  <br />
  <div class="row">
    <div class="col-sm-12">
      <p-dataTable [value]="items" [responsive]="true"
                   [rows]="filter.PageSize" [emptyMessage]="emptyMsg"
                   [paginator]="true" [totalRecords]="totalItems" pageLinks="5" [rowsPerPageOptions]="[10,15,20]"
                   [lazy]="true" (onLazyLoad)="loadData($event)">
        <p-column [style]="{'width':'44px'}">
          <ng-template let-service="rowData" pTemplate="body">
            <a routerLink="/console/maintenance/services/{{service.Id}}" pButton pTooltip="Service details" icon="fa-edit"></a>
          </ng-template>
        </p-column>
        <p-column field="Part" header="Part"></p-column>
        <p-column field="Location" header="Location"></p-column>
        <p-column field="Job" header="Job"></p-column>
        <p-column field="Cost" header="Cost"></p-column>
      </p-dataTable>
    </div>
  </div>
</div>
<dp-loader></dp-loader>

