<p-dialog header="Invoice payment" [(visible)]="display" modal="modal" width="600" [responsive]="true" [resizable]="false">
  <form (ngSubmit)="onSubmit()" #invoicePaymentForm="ngForm" novalidate>
    <div class="dp-content">
      <div class="row">
        <div class="col-sm-12 dp-data">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputPayedBy">Payed By</label>
                <input id="inputPayedBy" name="inputPayedBy" type="text" class="form-control" [(ngModel)]="invoicePayment.PayedBy" required />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputPaymentDate">Payment Date</label><br />
                <p-calendar id="inputPaymentDate" name="inputPaymentDate" appendTo="body" [(ngModel)]="invoicePayment.PaymentDate" dateFormat="mm/dd/yy" showIcon="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050"></p-calendar>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputAmount">Amount</label><span class="required-tip">(required)</span><br />
                <input id="inputAmount" name="inputAmount" class="form-control" currencyMask [(ngModel)]="invoicePayment.Amount" />
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <p-footer>
      <div class="row">
        <div class="col-sm-12">
          <button type="submit" [disabled]="!invoicePaymentForm.form.valid" class="dpl-btn dpl-btn-lg pull-right dp-margin-left" style="margin-bottom: 10px;">Save Invoice Payment</button>
          <button type="button" class="dpl-btn dpl-btn-lg pull-right" (click)="display=false">Cancel</button>
        </div>
      </div>
    </p-footer>
  </form>

</p-dialog>

<dp-loader></dp-loader>
<dp-messages></dp-messages>
