<div class="form-group" *ngIf="rateType != 1">
  <label for="inputRate">{{title}}</label>
  <input id="inputRate" name="inputRate" class="form-control" [options]="{precision:2, allowNegative: false}" currencyMask [(ngModel)]="rateValue" (ngModelChange)="onChange()" />
</div>
<div class="form-group" *ngIf="rateType == 1">
  <label for="inputRatePercentage">{{title}}</label><br>
  <p-spinner id="inputRatePercentage" [size]="size" [min]="0" [max]="100" name="inputRatePercentage" (onChange)="onChange()" [(ngModel)]="rateValue"></p-spinner>
  <span style="font-weight: bold; font-size: 16px;">%</span>
</div>
