<p-dialog header="Invoice item details" [(visible)]="display" modal="modal" width="600" [responsive]="true" [resizable]="false">
  <form (ngSubmit)="onSubmit()" #invoiceDetailsForm="ngForm" novalidate>
    <div class="dp-content">
      <div class="row">
        <div class="col-sm-12 dp-data">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputService">Service</label>
                <textarea id="inputService" name="inputService" type="text" class="form-control" [(ngModel)]="invoiceItem.ServiceName" required></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputQuantity">Quantity</label><br />
                <p-spinner id="inputQuantity" name="inputQuantity" [min]="1" [max]="10000" [step]="1" [(ngModel)]="invoiceItem.Quantity"></p-spinner>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputPrice">Price</label><span class="required-tip">(required)</span><br />
                <input id="inputPrice" name="inputPrice" class="form-control" currencyMask [(ngModel)]="invoiceItem.Price" />
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <p-footer>
      <div class="row">
        <div class="col-sm-12">
          <button type="submit" [disabled]="!invoiceDetailsForm.form.valid" class="dpl-btn dpl-btn-lg pull-right dp-margin-left" style="margin-right: 20px; margin-bottom: 10px;">Save Invoice Item</button>
          <button type="button" class="dpl-btn dpl-btn-lg pull-right" (click)="display=false">Cancel</button>
        </div>
      </div>
    </p-footer>
  </form>

</p-dialog>

<dp-loader></dp-loader>
<dp-messages></dp-messages>
