<agm-map [fitBounds]="mapBounds">
  <agm-marker *ngFor="let m of markers; let i = index"
              (markerClick)="clickedMarker(m.label, i)"
              [latitude]="m.lat"
              [longitude]="m.lng"
              [markerDraggable]="m.draggable"

              (dragEnd)="markerDragEnd(m, $event)">


    <agm-info-window>
      <strong>{{m.label}}</strong>
    </agm-info-window>

  </agm-marker>
  <sebm-google-map-directions (onDistanceCalculated)="onDistanceCalculated($event)">

  </sebm-google-map-directions>
</agm-map>
