.dpl-btn {
  background-color: #ffffff;
  color: #333333;
  border-radius: 3px;
  outline: none;
  border: 1px solid #333333;
  height: 30px;
  font-size: 12px;
  font-family: Roboto;
  cursor: pointer;
  padding: 0 12px;

  &:hover {
    background-color: #eeeeee;
  }

  &:disabled {
    opacity: 0.38;
    background-color: #ffffff;
    cursor: default;
  }

  &.dpl-btn-lg {
    height: 36px;
    font-size: 14px;
  }

  &.dpl-icon-only {
    width: 24px;
    height: 24px;
    font-size: 12px;
    padding: 0;
  }

  &.dpl-link {
    background: transparent;
    border: none;

    &.green {
      color: green;
    }

    &.red {
      color: red;
    }

    &:hover {
      background-color: #ffffff;
    }
  }

}
