body {
  font-size: 14px;
  font-family: Roboto, serif;
}

input {
  width: 100%;
  height: 36px;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  padding: 0 10px;
  outline: none;
  box-shadow: none !important;

  &:focus {
    border-color: #999999 !important;
  }
}

.dp-container {
  padding: 20px;
}

.layout-footer {
  position: fixed !important;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
}

input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.ui-paginator-bottom {
  margin-bottom: 30px !important;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 20px;
  height: 15px;
  display: inline-block;
  line-height: 15px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 15px;
  vertical-align: middle;
  cursor: pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -15px;
}

label.css-label {
  background-image: url(assets/img/csscheckbox.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dp-details {
  padding-top: 60px;
  padding-bottom: 100px;

  .details-header {
    position: fixed;
    top: 60px;
    right: 0;
    left: 0;
    z-index: 1;
  }

  .chk-margin-top {
    margin-top: 30px;
  }

  hr {
    border-top: 1px solid #d3dbe2;
  }

  .sticky {
    width: 80% !important;
  }

  .dp-title {
    background-color: white;
    padding: 5px 0;
    z-index: 1000000;
    border-bottom: 1px solid gray;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);

  }

  .dp-label-hint {
    font-weight: normal;
    font-size: 10px;
  }

  .dp-content {
    margin: 15px 10px;

    .dp-header {
      font-weight: bold;
      font-size: 16px;
      padding-left: 20px;
      padding-top: 40px;

      .hint {
        font-size: 12px;
        color: dimgrey;
        font-weight: normal;
      }
    }

    .dp-data {
      border-radius: 3px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 10px;
      background-color: white;

      .ui-spinner {
        .ui-inputtext {
          padding: 6px 12px;
        }
      }
    }
  }
}


.dp-margin-left {
  margin-left: 10px;
}

form.ng-submitted .ng-invalid {
  border-left: 13px solid red;
  display: inline-block;
}

form .ng-dirty.ng-invalid {
  border-left: 3px solid red;
  display: inline-block;
}

.required-tip {
  font-size: 12px;
  color: dimgrey;
  margin-left: 5px;
}

.ui-growl {
  top: auto !important;
  bottom: 20px !important;
}

.sebm-google-map-container {
  height: 400px;
}

.app-loader.ui-dialog {
  .ui-dialog-titlebar {
    display: none;
  }

  .loader-spinner {
    vertical-align: middle;
    color: cornflowerblue;
  }

  .loader-label {
    display: inline-block;
    vertical-align: middle;
  }
}

.pac-container {
  z-index: 10051 !important;
}

#left-panel {
  position: fixed;
}

#header {
  position: fixed;
  width: 100%;
}

#main {
  top: 50px;
}

.ui-dropdown {
  label.ui-dropdown-label {
    margin-right: 40px;
    height: 32px;
  }
  .ui-inputtext {
    padding: 6px 12px !important;
  }

  .ui-dropdown-trigger {
    width: 2em !important;
    .fa {
      margin-top: 10px !important;
      margin-left: 2px !important;
    }
  }
}


.ui-widget-header .ui-button, .ui-widget-content .ui-button, .ui-button {
  background-color: white !important;
  border: 1px solid #d6d6d6 !important;

  span {
    color: black;
  }
}

.dp-color-red {
  color: red;
}

.dp-color-red-bold {
  color: red;
  font-weight: bold;
}

aside {
  background: #336699;

  nav ul li a {
    color: #ffc835;
  }

  nav ul ul li > a:hover {
    background-color: #336699;
  }

  nav ul ul {
    background: #4775a3;
  }

  nav ul li a:hover {
    color: #fff9ea;
  }

  nav ul li a:focus {
    color: #fff9ea;
  }

  .minifyme {
    background: #ffc835;
    color: #336699;
  }

  .minifyme:hover {
    background: #ffc835;
    color: #336699;
  }
}

.minified .minifyme {
  color: #336699;
}

.minified nav > ul > li > ul > li {
  background: #4775a3;
}

.minified nav > ul > li > ul {
  background: #4775a3;
}

textarea {
  resize: vertical;
}

.ui-tabview .ui-tabview-nav > li.ui-state-default {
  background: #555555 !important;
}

.ui-widget-header .ui-state-default a, .ui-widget-content .ui-state-default a, .ui-state-default a {
  color: white !important;
}

.ui-tabview .ui-tabview-nav > li.ui-state-active {
  background: white !important;

}

.ui-widget-header .ui-state-active a, .ui-widget-content .ui-state-active a, .ui-state-active a {
  color: #555555 !important;
}

.ui-steps .ui-steps-item {
  width: 25%;
}

.ui-steps.steps-custom {
  margin-bottom: 30px;
}

.ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
  height: 10px;
  padding: 0 1em;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-number {
  background-color: #0081c2;
  color: #FFFFFF;
  display: inline-block;
  width: 36px;
  border-radius: 50%;
  margin-top: -14px;
  margin-bottom: 10px;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-title {
  color: #555555;
}

.search-clear-dpl {
  position: absolute;
  right: 20px;
  top: 10px;
  bottom: 0;
  height: 14px;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;

  &:hover {
    color: black;
  }
}
