<div class="load-issue-container">
  <div class="row">
    <div class="col-sm-8">
      {{loadIssue.Description}}
    </div>
    <div class="col-sm-4">
      <input type="checkbox" name="chkIsResolved" id="chkIsResolved_{{loadIssue.Id}}" class="css-checkbox" [(ngModel)]="loadIssue.IsResolved" (change)="toggleResolved()" />
      <label for="chkIsResolved_{{loadIssue.Id}}" class="css-label">Is Resolved</label>
    </div>
  </div>
</div>
