<div class="dp-details">
  <div class="dp-content">
    <div class="row">
      <div class="col-sm-4">
        <div class="dp-data">
          <form (ngSubmit)="onSubmitInvoiceDetails()" #invoiceForm="ngForm" novalidate>
            <div class="row">
              <div class="col-sm-12">
                <h4>Invoice details</h4>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Invoice #{{invoice.InvoiceNumber}}</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Load #</label>
                  <a *ngIf="invoice.TripId == 0" [routerLink]="['/console/dispatch/loads', invoice.LoadId]">{{invoice.LoadNumber}}</a>
                  <a *ngIf="invoice.TripId > 0" [routerLink]="['/console/dispatch/trips', invoice.TripId]">{{invoice.LoadNumber}}</a>
                </div>
              </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">
              <div class="col-sm-6">
                <input type="checkbox" name="chkIsActive" id="chkIsActive" class="css-checkbox" [(ngModel)]="invoice.IsActive" />
                <label for="chkIsActive" class="css-label">Is Active</label>
              </div>
              <div class="col-sm-6">
                <input type="checkbox" name="chkSendReceipt" id="chkSendReceipt" class="css-checkbox" [(ngModel)]="invoice.SendReceipt" />
                <label for="chkSendReceipt" class="css-label">Send Receipt</label>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputInvoiceDate">Invoice Date</label><br />
                  <p-calendar id="inputInvoiceDate" name="inputInvoiceDate" [(ngModel)]="invoice.InvoiceDate" dateFormat="mm/dd/yy" showIcon="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050"></p-calendar>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputInvoiceDueDate">Due Date</label><br />
                  <p-calendar id="inputInvoiceDueDate" name="inputInvoiceDueDate" [(ngModel)]="invoice.InvoiceDueDate" dateFormat="mm/dd/yy" showIcon="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050"></p-calendar>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="inputExternalNote">External Note</label><br />
                  <textarea id="inputExternalNote" name="inputExternalNote" type="text" class="form-control" [(ngModel)]="invoice.ExternalNote"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <span style="font-weight: bold;">Total: </span> <span class="pull-right" style="font-style: italic;">{{invoice.Total | currency:'USD':'symbol'}}</span>
                  <!--<label for="inputTotal">Total</label><br />
                  <input [disabled]="true" id="inputTotal" name="inputTotal" class="form-control" currencyMask [(ngModel)]="invoice.Total" />-->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <span style="font-weight: bold;">Ammount Paid: </span> <span class="pull-right" style="font-style: italic;">{{invoice.AmountPaid | currency:'USD':'symbol'}}</span>
                  <!--<label for="inputAmountPaid">Ammount Paid</label><br />
                  <input [disabled]="true" id="inputAmountPaid" name="inputAmountPaid" class="form-control" currencyMask [(ngModel)]="invoice.AmountPaid" />-->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <span style="font-weight: bold;">Balance Remaining: </span> <span class="pull-right" style="font-style: italic;">{{invoice.BalanceRemaining | currency:'USD':'symbol'}}</span>
                  <!--<label for="inputBalanceRemaining">Balance Remaining</label><br />
                  <input id="inputBalanceRemaining" name="inputBalanceRemaining" [disabled]="true" class="form-control" currencyMask [(ngModel)]="invoice.BalanceRemaining" />-->
                </div>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-12">
                <button type="submit" [disabled]="!invoiceForm.form.valid || invoice.PaidInFull" class="dpl-btn dpl-btn-lg pull-right dp-margin-left">Save Invoice</button>
                <button type="button" class="dpl-btn dpl-btn-lg pull-left" (click)="previewPdf()">Preview</button>
                <button type="button" class="dpl-btn dpl-btn-lg pull-left dp-margin-left" (click)="createAndEmailPdf()">Email</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="dp-data">
          <div class="row">
            <div class="col-sm-4">
              <h4>Invoice items</h4>
            </div>
            <div class="col-sm-8">
              <button type="button" class="dpl-btn dpl-btn-lg pull-right" (click)="createInvoiceItem()" [disabled]="invoice.PaidInFull">
                <i class="fa fa-plus"></i> Add New
              </button>
              <button style="margin-right:5px;" type="button" class="dpl-btn dpl-btn-lg pull-right" (click)="regenerateInvoiceItems()" [disabled]="invoice.PaidInFull">
                <i class="fa fa-refresh"></i> Regenerate
              </button>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-12">
              <p-dataTable [value]="invoiceItems" [responsive]="true"
                           [rows]="10" [paginator]="false" emptyMessage="No invoice items defined">
                <p-column [style]="{'width':'42px'}">
                  <ng-template let-invoiceItem="rowData" pTemplate="body">
                    <button type="button" class="ui-button-default" tooltipPosition="left" (click)="editInvoiceItem(invoiceItem)" pButton pTooltip="Edit invoice item" icon="fa-edit"></button>
                  </ng-template>
                </p-column>
                <p-column field="ServiceName" header="Service"></p-column>
                <p-column header="Price">
                  <ng-template let-invoiceItem="rowData" pTemplate="body">
                    {{invoiceItem.Price | currency:'USD':'symbol'}}
                  </ng-template>
                </p-column>
                <p-column field="Quantity" header="Quantity"></p-column>
                <p-column header="Total">
                  <ng-template let-invoiceItem="rowData" pTemplate="body">
                    {{invoiceItem.Total | currency:'USD':'symbol'}}
                  </ng-template>
                </p-column>
                <p-column [style]="{'width':'42px'}">
                  <ng-template let-invoiceItem="rowData" pTemplate="body">
                    <!--<button type="button" class="ui-button-danger" tooltipPosition="left" (click)="regenerateInvoiceItem(invoiceItem)" pButton pTooltip="Regenerate invoice item" icon="fa-refresh"></button>-->
                    <button type="button" class="ui-button-danger" tooltipPosition="left" (click)="deleteInvoiceItem(invoiceItem)" pButton pTooltip="Remove invoice item" icon="fa-remove" [disabled]="invoice.PaidInFull"></button>
                  </ng-template>
                </p-column>
              </p-dataTable>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="dp-data">
          <div class="row">
            <div class="col-sm-4">
              <h4>Payments</h4>
            </div>
            <div class="col-sm-8">
              <button type="button" class="dpl-btn dpl-btn-lg pull-right" (click)="createInvoicePayment()" [disabled]="invoice.PaidInFull">
                <i class="fa fa-plus"></i> Add New
              </button>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-12">
              <p-dataTable [value]="invoicePayments" [responsive]="true"
                           [rows]="10" [paginator]="false" emptyMessage="No payments defined">
                <p-column [style]="{'width':'38px'}">
                  <ng-template let-invoicePayment="rowData" pTemplate="body">
                    <button type="button" class="ui-button-default" tooltipPosition="left" (click)="editInvoicePayment(invoicePayment)" pButton pTooltip="Edit invoice payment" icon="fa-edit"></button>
                  </ng-template>
                </p-column>
                <p-column field="PayedBy" header="Payed By"></p-column>
                <p-column header="Amount">
                  <ng-template let-invoicePayment="rowData" pTemplate="body">
                    {{invoicePayment.Amount | currency:'USD':'symbol'}}
                  </ng-template>
                </p-column>
                <p-column [style]="{'width':'38px'}">
                  <ng-template let-invoicePayment="rowData" pTemplate="body">
                    <button type="button" class="ui-button-danger" tooltipPosition="left" (click)="deleteInvoicePayment(invoicePayment)" pButton pTooltip="Remove invoice payment" icon="fa-remove"></button>
                  </ng-template>
                </p-column>
              </p-dataTable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-lg btn-danger" (click)="back()" pTooltip="Go back" tooltipPosition="left" style="position:fixed; right: 20px; bottom: 80px;">
  <span class="fa fa-reply"></span>
</button>
<p-confirmDialog header="Confirm" icon="fa fa-question-circle" width="425"></p-confirmDialog>
<dp-invoice-item (onInvoiceItemSaved)="onInvoiceItemSaved()" #invoiceDetails></dp-invoice-item>
<dp-invoice-payment (onInvoicePaymentSaved)="onInvoicePaymentSaved()" #invoicePaymentDetails></dp-invoice-payment>
