<p-dialog header="Cash flow details" [(visible)]="display" modal="modal" width="600" [responsive]="true" [resizable]="false">
  <form (ngSubmit)="onSubmit()" #cashFlowForm="ngForm" novalidate>

    <div class="dp-content">
      <div class="row">
        <div class="col-sm-12 dp-data">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputDriver">Driver</label><span class="required-tip">(required)</span><br />
                <dp-driver id="inputDriver" name="inputDriver" [(ngModel)]="item.DriverId" required></dp-driver>
              </div>
            </div>
            <div class="col-sm-6" style="padding-top: 30px;">
              <input type="checkbox" name="chkIsActive" id="chkIsActive" class="css-checkbox" [(ngModel)]="item.IsActive" />
              <label for="chkIsActive" class="css-label">Is Active</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputTruck">Truck</label><span class="required-tip">(required)</span><br />
                <dp-truck id="inputTruck" name="inputTruck" [(ngModel)]="item.TruckId" required></dp-truck>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputTrailer">Trailer</label><br />
                <dp-trailer id="inputTrailer" name="inputTrailer" [(ngModel)]="item.TrailerId"></dp-trailer>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputType">Cash Flow Type</label><span class="required-tip">(required)</span><br />
                <p-dropdown id="inputType" name="inputType" [autoWidth]="false" appendTo="body" [options]="cashFlowTypes" [(ngModel)]="item.TypeId" required></p-dropdown>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputDate">Date</label><span class="required-tip">(required)</span><br />
                <p-calendar id="inputDate" name="inputDate" appendTo="body" [(ngModel)]="item.Date" dateFormat="mm/dd/yy" showIcon="true" required [monthNavigator]="true" [yearNavigator]="true" yearRange="1980:2050"></p-calendar>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputAmount">Amount</label><span class="required-tip">(required)</span><br />
                <input id="inputAmount" name="inputAmount" class="form-control" currencyMask [(ngModel)]="item.Amount" />
              </div>
            </div>
            <!--<div class="col-sm-6" style="padding-top: 30px;">
                <input type="checkbox" name="chkIsSettled" id="chkIsSettled" class="css-checkbox" [(ngModel)]="item.IsSettled" />
                <label for="chkIsSettled" class="css-label">Is Settled</label>
            </div>-->
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputNote">Note</label>
                <textarea id="inputNote" name="inputNote" type="text" class="form-control" [(ngModel)]="item.Note"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="row">
        <div class="col-sm-12">
          <button type="submit" [disabled]="!cashFlowForm.form.valid" class="btn btn-default pull-right dp-margin-left" style="margin-right: 20px; margin-bottom: 10px;">Save Cash Flow</button>
          <button type="button" class="btn btn-default pull-right" (click)="display=false">Cancel</button>
        </div>
      </div>
    </p-footer>
  </form>

</p-dialog>

<dp-loader></dp-loader>
<dp-messages></dp-messages>
